[2017-08-18 12:54] HenryChao24 opened #1870 "How to render local image named end with ".mp4"?"
for example: image path like this:
/storage/emulated/0/test.mp4

yes, it's actual a jpg image with wrong suffix name.

[2017-08-18 13:12] vbuberen commented on #1779
@Gericop
I don't have such issues and can use vector drawables in XML in `placeholderImage` and there are no crashes on APIs down to 16 (min version in the actual production app).
You might have a problem because of `vectorDrawables.useSupportLibrary = true`  property in your Gradle file according to [this](https://stackoverflow.com/a/36484749/3140227) StackOverflow thread.
- Fresco version: 1.5.0

[2017-08-18 13:18] vbuberen commented on #1176
@vipulasri Works without problems. Check #1779

[2017-08-18 15:13] Gericop commented on #1779
@vbuberen Do you use `AppCompatDelegate.setCompatVectorFromResourcesEnabled(true);` instead? Because that is still a no-no for the memory issues it might introduce (see the [documentation](https://developer.android.com/reference/android/support/v7/app/AppCompatDelegate.html#setCompatVectorFromResourcesEnabled(boolean))).

[2017-08-18 17:50] vbuberen commented on #1779
Nope, I don`t. As you might know, for devices with API lower than 21 PNGs are generated instead of vectors automatically - on some really old devices with small resolution screen you can see that some drawables aren`t clear-cut like vector drawables should be. But still everything works fine with Fresco and placeholders.

[2017-08-18 17:55] Anmolk22 commented on #1860
@erikandre Sorry for the late reply.
Actually I have found the solution the issue was due to the recyclerview's recycling after I disabled the recycling in recyclerview in OnBind method. it's not happening

[2017-08-18 19:07] Gericop commented on #1779
@vbuberen Well, I've always had `vectorDrawables.useSupportLibrary = true` in my build.gradle, yet it crashes on < API 21 devices.

[2017-08-18 19:34] vbuberen commented on #1779
@Gericop Kind of strange. Have you tried to check everything without `DataBinding`? I looked at other related issues here, like #1176 and for me it looks like the problem with binding these generated PNGs. I came to such conclusion after checking how the same view behaves if I attach `onClick` to this image - placeholder image is still visible (I just commented image request to see only placeholde

[2017-08-18 22:05] oprisnik commented on #1870
Fresco doesn't check the file suffix. Just pass the file to a DraweeView and it should work. See also http://frescolib.org/docs/supported-uris.html

[2017-08-18 22:05] #1870 closed

[2017-08-20 23:21] fabulant opened #1871 "Color spaces in Android O are not handled properly by some features"
### Description

O is the first Android release that introduces a proper color management system into the OS and platform framework. This addition doesn't require any changes for simple decoding and displaying of Bitmaps, but some of Fresco's more advanced features seem to drop [ColorSpace](https://developer.android.com/reference/android/graphics/ColorSpace.html) information.

I went through the F

[2017-08-21 02:04] Thiross opened #1872 "crash when rendering some GIF's"
### Description

Test Gif:
https://beauty.nosdn.127.net/beauty/img/5fcca295-c5b9-4b91-8413-353db505ddd3.gif?imageView&thumbnail=960x0&tostatic=0

### Additional Information

* Fresco version: 1.4.0, 1.5.0
* Platform version:  Device: Nexus 6P(Android 7.1.2)

[2017-08-21 10:46] dmitry-voronkevich commented on #1871
Hi, @fabulant, thank you for great report, we will take a look at this issues.

[2017-08-21 10:49] dmitry-voronkevich commented on #1872
Hi, @Thiross, can you please specify following details, which can help us to identify issue:
* stack trace of a crash
* how do you request image (how does you image request look like)?
* Please include the code where you initiate your ImagePipelineConfig

[2017-08-21 16:16] marcosalis commented on #1869
Same thing happening here with 1.4, and the app is crashing with an `OutOfMemoryError`. The picture is a pretty big (in terms of frames resolution) animated gif of around 1.2 MB.

This is the stack trace I get:
`java.lang.OutOfMemoryError: Failed to allocate a 23890284 byte allocation with 10365672 free bytes and 9MB until OOM

[2017-08-22 02:50] wangbin0802 opened #1873 "Update fresco from 1.3.0 to 1.4.0 cause bug TooManyBitmapsException"
Before update we have not occured this problem.
Exception com.facebook.imagepipeline.common.TooManyBitmapsException:
com.facebook.imagepipeline.platform.DalvikPurgeableDecoder.pinBitmap ()
com.facebook.imagepipeline.platform.KitKatPurgeableDecoder.pinBitmap ()
com.facebook.imagepipeline.platform.DalvikPurgeableDecoder.decodeJPEGFromEncodedImage ()
com.facebook.imagepipeline.platform.KitKatPurgeabl

[2017-08-22 03:11] Haoxiqiang commented on #1873
same problem.Android 4.4 catch a lot exception in some device.

[2017-08-22 06:09] Thiross commented on #1872
Hi, @dmitry-voronkevich
### Initialize
[code]
### Request
[code]
### backtrace

[2017-08-22 13:58] dmitry-voronkevich commented on #1873
Hi, @wangbin0802, please provide more details:
* How do you use Fresco?
* Do you have sample images?
* Is there sample app where this issue can be reproduced?
* Where and how do you show images (ListView, RecycleView, anything else)?
* How many images do you show at the same time?
* Do you store DraweeView's anywhere in the memory, like caching them in HashMap for example?
* Are DraweeView attache

[2017-08-22 20:51] eldk commented on #1748
@gbero  :
Maybe try it with this :  https://github.com/facebook/fresco/pull/1874

[2017-08-23 08:02] dss886 commented on #1868
Same problem, can I try-catch somewhere so that my app won't crash?

[2017-08-23 10:42] erikandre commented on #1860
Yes, the problem should be that using global layout listeners on views in a recycler view is not safe. I would still recommend that you either go with a fixed size or a fixed aspect ratio for the drawee views. You should then be able to already know the dimensions in onBind.

[2017-08-23 10:42] #1860 closed

[2017-08-24 09:09] Vixb1122 opened #1876 "1.4.0 bug : "asCircle" invalid sometimes"
if I add the following line to build.gradle file , that's no problem
[code]

but if I add the following line to build.gradle file , displaying some pictures by using "asCircle" is invalid
[code]

eg:
http://p1.music.126.net/n4ypQKBBkp4NMdMb2Bxr6Q==/2042892604407899.jpg

[2017-08-25 03:25] asalin opened #1877 "Fresco failed to display image whem app pushed to system/priv-app folder"
When the app is normally installed, it work fine.But it doen't work when i push the app to system/priv-app/XX folder.The Log shows it stop at "onProducerStart: {requestId: 1, producer: NetworkFetchProducer}",and never return onProducerFinishWithSuccess or onProducerFinishWithFail.
![qq 20170825112412](https://user-images.githubusercontent.com/6972999/29698447-0fc12668-8988-11e7-9e23-df6c0258d7ac.p

[2017-08-25 09:35] oprisnik commented on #1872
Thanks, I'll take a look.

[2017-08-25 09:42] wangbin0802 commented on #1873
@dmitry-voronkevich, I use fresco normally like sample in my production, it run good before.I can not reproduce it when testing, But I can collect the crash report from the third party instrument.
My production will show many images at home page, I use the default memory control and it has never been occured this situation.
Cache configure like:
[code]
[code]
Please be aware.Thanks a lot.

[2017-08-25 10:32] tikkichan4 opened #1878 "[React Native] Inline image not animated when wrapped in a Text component"
I am using Fresco v1.0.1 (Latest version with React native supported).
It just works fine in IOS and Android when rendering the gif only.
Once the image is wrapped in a text component, it just dont worked. (The image component always display the first frame of gif, but not animated)

Please note that this bug is reported by other user before. But that issue is closed without situation.

[2017-08-25 15:36] dmitry-voronkevich commented on #1876
This issue reproduces with this particular image. Other images work fine.

[2017-08-25 16:42] dmitry-voronkevich commented on #1876
@Vixb1122, your image is a gif (despite of jpeg extension), once you added support for animated-gif, library started to treat any gif as animated image. And library does not currently support rounding of animated images. I'd recommend to use png for such images, they will take less space and provide better quality.
Or if you don't have control of where images comes from, you can request image with

[2017-08-28 06:23] PandaQAQ opened #1879 "FileCache.getResource return null on real device but it works on AVD"
resource return null when run on real devices, and use a lower fresco replace getMainFileCache() with getMainDiskStorageCache() it works well
code : FileBinaryResource resource = (FileBinaryResource) Fresco.getImagePipelineFactory()
                    .getMainFileCache()
                    .getResource(new SimpleCacheKey(uri.toString()));
device info : huawei honor 8 base on Android N

[2017-08-28 13:08] lemon-zzz opened #1880 "can i add a white background into the picture area,thanks."
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-08-28 15:44] MM-Furkan commented on #47
I still having the same problem can any one plz hlp me out

[2017-08-29 09:36] dmitry-voronkevich commented on #1880
Looks like there is not any information on this bug report. @lemon-zzz please fill in bug report. For now, closing this issue

[2017-08-29 09:36] #1880 closed

[2017-08-29 09:59] kirwan commented on #1877
Please provide details of the device and Android version.

Are you using OkHttp or another network layer?

If it is OkHttp, I suggest [turning on logging](https://github.com/square/okhttp/tree/master/okhttp-logging-interceptor) there so you can see what activity there is within that.
Then please reply here with details of what you're seeing.

[2017-08-29 12:09] oprisnik commented on #1868
Yeah, having an option not to crash would be nice. Feel free to check out the stack trace and submit a pull request :)

[2017-08-29 12:53] nansong66 opened #1881 "fresco在Listview中的一个bug"
您好，我是一个菜鸟，今天遇到了一个问题/滑稽，就是fresco如果关闭自动缓存，就会出现一个问题，在listview中，一个item被滚出屏幕视角后，在滚回来，这时就会重新请求图片，如果这时还没请求回图片就再次把这个item滚出屏幕视角，这个时候程序就会崩溃，也有个能是在这个之后滚回来发生的。。。。我比较菜。。

[2017-08-29 13:57] dmitry-voronkevich commented on #1876
I hope, @Vixb1122, this answer is enough. If you still having issue, feel free to reopen this bug.

[2017-08-29 13:57] #1876 closed

[2017-08-29 14:18] dmitry-voronkevich commented on #1873
Hi @wangbin0802,

This issue maybe related to change in 1.4.0. Fresco animated images stared to respect caching rules, in 1.3.0 they were ignoring such rules sometimes.
Currently number of images are limited via constant in Fresco code:  https://github.com/facebook/fresco/blob/df2854a76786f58e044a71617309cc3c0a0c358c/imagepipeline/src/main/java/com/facebook/imagepipeline/memory/BitmapCounterProvid

[2017-08-30 01:57] jjding1986 commented on #480
+1

[2017-08-30 05:52] Vixb1122 commented on #1876
thanks , that's helpful @dmitry-voronkevich

[2017-08-31 04:17] wangbin0802 commented on #1873
Hi @dmitry-voronkevich
I have pulled the newest code, you mean that I need limit the MAX_CACHE_ENTRIES from Integer.MAX_VALUE to 256(copy `DefaultBitmapMemoryCacheParamsSupplier`) can fix the issue?
[code]

[2017-08-31 10:13] anastr commented on #1481
It turned out that I was using a library that called `Fresco.initialize(context);` method.
thanks.

[2017-08-31 10:13] #1481 closed

[2017-08-31 12:28] kirwan commented on #1881
Very sorry but we only can only help with issues in English.

很抱歉，我们只能帮助英文问题。
(Google Translate)

[2017-08-31 12:28] #1881 closed

[2017-08-31 12:37] kirwan commented on #1879
Writing files to disk is handled in a separate thread so it's quite possible for an image request to complete but the file not yet be available from the cache.

My guess is you're just being luckier in the race on your emulator than your device.

Instead of querying cache directly, I'd recommend requesting the encoded image from the pipeline. See the [To get encoded image…](http://frescolib.org/do

[2017-08-31 12:39] kirwan commented on #1878
I think you should raise this issue in the React Native project.

Fresco is only used by RN on Android but I'm not sure whether you're seeing this on both platforms.

I'd also suggest linking to the previous bug report.

[2017-08-31 12:55] zxz1990 opened #1882 "libimagepipeline.so crashes"
### Description

We are developing a TV app for playing videos. In the video playing activity, some pictures are shown on the screen. For some videos, crash happens when the pictures are shown. This happens only in one device. So we do not know this is whether fresco's bug or OS's bug. Could some one analyse  the log?
This is the java stack trace:
Crash thread java stack trace:
    at com.facebook

[2017-08-31 13:27] kirwan commented on #3
I don't think we're likely to get to this any time soon. If someone would like to offer a pull request, I'd be willing to offer support.

We're currently cleaning up old issues which aren't progressing but I'll leave this a little longer in case anyone is interested in pursuing this.

[2017-08-31 13:30] kirwan commented on #334
We're looking at this issue of bitmap pooling again now but have found some issues internally when enabling it.

In the meantime, this is a very old issue so I'm going to close it.

[2017-08-31 13:30] #334 closed

[2017-08-31 14:01] kirwan commented on #245
I'm cleaning up very old issues and this should no longer result in errors anyway.

[2017-08-31 14:01] #245 closed

[2017-08-31 14:02] kirwan commented on #487
I'm cleaning up very old issues. If this still causes problems please comment and we can re-open.

[2017-08-31 14:02] #487 closed

[2017-08-31 14:03] kirwan commented on #498
I'm cleaning up very old issues. If this still causes problems please comment and we can re-open.

[2017-08-31 14:03] #498 closed

[2017-08-31 14:04] kirwan commented on #577
I'm cleaning up very old issues. If this still causes problems please comment and we can re-open.

[2017-08-31 14:04] #577 closed

[2017-08-31 14:06] kirwan commented on #613
I'm cleaning up very old issues. If this still causes problems please comment and we can re-open.

As another thought, these properties can be set via XML, either in the layout file or as part of a style.

[2017-08-31 14:06] #613 closed

[2017-08-31 14:08] kirwan commented on #641
I'm cleaning up very old issues. If this is still something you think is needed please comment and we can re-open.

[2017-08-31 14:08] #641 closed

[2017-08-31 14:09] kirwan commented on #686
I'm cleaning up very old issues. If this still causes problems please comment and we can re-open.

[2017-08-31 14:09] #686 closed

[2017-08-31 14:10] kirwan commented on #691
I'm cleaning up very old issues. If this is still something you think is needed please comment and we can re-open.

[2017-08-31 14:10] #691 closed

[2017-08-31 14:11] kirwan commented on #726
I'm cleaning up very old issues. If this still causes problems please comment and we can re-open.

[2017-08-31 14:11] #726 closed

[2017-08-31 17:42] jhonween opened #1883 "about load image url problem"
now i encounter a problem ,i load a imageurl get from our server  and the url response header property Content-Disposition was  set "attachment"   it can not load success

but it can load success when it was set inline
default is inline

is it a compatible problem?

[2017-08-31 17:45] jhonween commented on #1883
but imageloader is ok.

[2017-09-01 12:47] ar-g opened #1884 "SIGSEGV crash when building with android gradle plugin 3.0.0-beta3"
### Description

When using android gradle plugin 3.0.0-beta3 we started receiving native SIGSEGV crashes. After scrolling through images for a couple of minutes. It works fine with plugin 2.3.3

### Reproduction

We could steadily reproduce it on Android 4.4.4. We also received many such crashes on Android 5-6

### Solution

As I said it works with 2.3.3. It was very hard to track what caused thi

[2017-09-03 09:43] ar-g opened #1885 "Android O, nexus 5x SIGABRT crash"
### Description

After using app around 3 min it crashes on nexus 5x. Stacktrace:

[code]

[2017-09-04 08:47] younas-bangash commented on #1044
@plamenko the link is not found I did not know why you did not provide the call back

[2017-09-04 09:07] lambdapioneer commented on #1882
Thanks @zxz1990 for the issue. Can you provide us with the device details? From a first look this looks like it might be an issue with ashmem.

[2017-09-04 09:09] lambdapioneer commented on #1044
You can register a `ControllerListener` and react in the `onFailure` method. See http://frescolib.org/docs/listening-to-events.html

[2017-09-04 09:12] lambdapioneer commented on #1884
Hey @ar-g, that's very interesting. It might be that some compiler/linker defaults changed.

Can you provide me with the device that you've been using and the logcat from the crashes? Is there a way to reproduce this errors with the sample app?

[2017-09-04 09:13] zxz1990 commented on #1882
getprop with grep "build" or "version"：

[ro.build.characteristics]: [tablet]
[ro.build.date.utc]: [1440406344]
[ro.build.date]: [Mon Aug 24 16:52:24 CST 2015]
[ro.build.description]: [rk3188-user 4.4.2 KOT49H eng.hepeng.20150824.165001 tes
t-keys]
[ro.build.display.id]: [KOT49H test-keys]
[ro.build.fingerprint]: [rockchip/rk3188/rk3188:4.4.2/KOT49H/eng.hepeng.20150824
.165001:user/test-keys]
[ro.

[2017-09-04 09:15] lambdapioneer commented on #1885
Hey @ar-g this looks like a double-free or a bad-reference-free. From the logcat I cannot narrow this down to Fresco. Do you have more details such as:

 - Does it only reproduce when using Fresco?
 - Can you provide a full log?
 - What's the device model?
 - How can we reproduce this error?

[2017-09-04 09:23] lambdapioneer commented on #1882
This mostly only has information about the `Rockchip RK3188` which is built into a variety of devices. Can you post the full `getprop` output as an attachment? Also, is this the device a set-top box or a tablet?

[2017-09-04 09:27] zxz1990 commented on #1882
@lambdapioneer
This is a set-top box. And here is the getprop file:
[getprop.txt](https://github.com/facebook/fresco/files/1274251/getprop.txt)

[2017-09-04 09:32] kirwan commented on #1883
What response code do you send in that case? Still 200?

If you're using OkHttp as your network layer, you'd need to check that it works as you expect with that header.

I don't see anything in Universal Image Loader which makes a specific check for that header either.

[2017-09-04 09:34] kirwan commented on #678
We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:34] #678 closed

[2017-09-04 09:35] kirwan commented on #787
We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:35] #787 closed

[2017-09-04 09:39] kirwan commented on #790
We're cleaning up long-untouched issues so I'm closing this one.

If you still think this is needed, I'm happy to support a pull request.

[2017-09-04 09:39] #790 closed

[2017-09-04 09:42] kirwan commented on #878
This can be resolved by the use of a `CacheKeyFactory` which strips your changeable query parameters.

We're cleaning up long-untouched issues so I'm closing this one.

[2017-09-04 09:42] #878 closed

[2017-09-04 09:44] kirwan commented on #782
Another way to tackle a problem like this is to request the encoded image data and write it to a local file. You can then attempt to display it based on a local URI.

We're cleaning up long-untouched issues so I'm closing this one.

[2017-09-04 09:44] #782 closed

[2017-09-04 09:46] kirwan commented on #587
This ought to be blocked by the `EncodedMemoryCacheMultiplexProducer`.

We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:46] #587 closed

[2017-09-04 09:51] kirwan commented on #916
A change has been made to enable larger bitmap sizes if requested.

We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:51] #916 closed

[2017-09-04 09:51] kirwan commented on #914
I believe all our tests now work on Windows.

We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:51] #914 closed

[2017-09-04 09:55] kirwan commented on #810
We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still worth pursuing, feel free to comment and we can re-open. It looks to me as though the licensing issues which have been raised might make this impossible to pursue though.

[2017-09-04 09:55] #810 closed

[2017-09-04 09:57] kirwan commented on #805
We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

The last comment however mentioned the lack of a check for HTTP_OK which is now present.

[2017-09-04 09:57] #805 closed

[2017-09-04 09:58] kirwan commented on #865
We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:58] #865 closed

[2017-09-04 09:58] kirwan commented on #819
We're cleaning up long-untouched issues so I'm closing this one.

If you think this is still an issue, feel free to comment and we can re-open.

[2017-09-04 09:58] #819 closed

[2017-09-04 10:26] tliebeck commented on #1661
Just saw this searching for other workarounds to this issue in one of my own apps.  Your test image perfectly breaks things.  This problem is device dependent.  Crashes android.process.media as well as my own app on a Note3 with latest LineageOS.  Does not crash my app or android.process.media on either a Nexus 6 with recent LineageOS or a S7 Edge (stock, latest 7.0).  Already have my own trivial

[2017-09-04 12:04] ar-g commented on #1885
What could be the reason of double-free or bad-reference-free? Could it be because of clearing fresco cache?

1. Can not say for now.
2.
[code]
3. LGE Nexus 5X (bullhead), 2048MB RAM, Android 8.0
4. It happens randomly after using app for some time

[2017-09-04 13:22] younas-bangash opened #1889 "Landscape Image Has Been Cropped"
### Description

I take Image from camera and upload to the server when I try to display that image on the SimpleDraweeView the image has been cropped while it work perfectly when I upload the image using Gallary I use below code to get the image and display on the view

[code]

[code]

### Additional Information

* Fresco version: [com.facebook.fresco:fresco:1.5.0]
* Platform version: [Android  6

[2017-09-04 15:58] lambdapioneer commented on #1889
Hey @younas-bangash, have a look at http://frescolib.org/docs/scaletypes.html on how to use scale types. Let me know if this does not solve the problem for you or I've misunderstood the question.

[2017-09-05 05:57] younas-bangash commented on #1889
Below is the original  Image that is uploaded on server
![voucher](https://user-images.githubusercontent.com/4440531/30047025-0521908a-9220-11e7-8a89-d3a7e9973066.jpg)

I used the above code to show the image on the view of id voucherImage but it displays as below and I try all the scale type nothing is working

![voucher](https://user-images.githubusercontent.com/4440531/30047108-82a6aa22-9220-11

[2017-09-05 09:36] lambdapioneer commented on #1889
I'd be inclined to say that this is likely caused by the layout that includes the `SimpleDraweeView`. We can confirm that the following way: enable the controller overlay in the Fresco configuration (see below) and post the screenshot. Ideally, you also enable the layout bounds in the developer settings. CC @oprisnik

It shows two lines which are `I: wxh` (the image dimensions) and `D: wxh` (the d

[2017-09-05 09:42] lambdapioneer commented on #1885
@ar-g with "double free" I mean a bug that might be in native code where free is called twice.

Thanks for giving the detailed information. I cannot spot how any reference to Fresco in the logs. Why do you think it is related to Fresco?

Moreover, there stack trace covers reference queue and `java.math.Native`. Do you use `BigInteger` or similar in your code (or does any other library?). I know th

[2017-09-05 09:51] lambdapioneer commented on #1882
Hm, there's not much chance that I'll be able to reproduce this. Maybe when you can give me the unobfuscated stack trace, I might be able to point in some general direction. Otherwise, it would be on you to debug on the device (most likely the easiest is using logging calls in the C++ code).

You can try to change the code in `ImagePipelineFactor#buildPlatformDecoder` to always return the `ArtDeco

[2017-09-05 12:56] ar-g commented on #1884
Sorry, It seems I was wrong I could catch the bug on studio 2.3.3 and plugin 2.3.3 still. I'll try to make a sample soon. It annoying to reproduce the bug because I need to scroll excessively. I got full dump:

[code]

[2017-09-05 13:08] ar-g commented on #1885
Some of our libs depend on Picasso, which uses BigInteger. But it's kinda strange.

[2017-09-05 13:28] younas-bangash commented on #1889
After trying method which you mention I am not able to solve my issue so I have no other ways but to use the Glide library which working perfectly

[2017-09-05 13:33] lambdapioneer commented on #1889
Sorry that I couldn't help you with the information provided. I'll close this issue then.

[2017-09-05 13:33] #1889 closed

[2017-09-06 03:51] demonbibi opened #1893 "Bad Performance In ListView & RecyclerView When Scroll Fast"
1. Open the "Profile GPU rendering -> On Screen as bars" in Developer options.
2. Open the "showcase" App you provided.
3. Scroll fast in RecyclerView, the bars on screen is light green and deep green, and it represents the measure and layout processes is costing a lot.
4. About phone: CPU 2.45GHz, RAM 3.00GB, Android version 6.0.1.
5. the bad performance is also appears in ListView, I just use th

[2017-09-06 10:45] lambdapioneer commented on #1893
Hey @demonbibi, these kind of regressions can be caused by very verbose logs (like they are the default in the showcase app). Try to set `FLog.setMinimumLoggingLevel(FLog.ERROR);`

On my emulator with `VERBOSE` (default):

![screen shot 2017-09-06 at 11 42 20 am](https://user-images.githubusercontent.com/908387/30108043-a302630a-92f8-11e7-8a02-8a0b3e15db88.png)

On my emulator with `ERROR`:

![scr

[2017-09-07 06:49] benzly opened #1895 "Why EncodedMemoryCacheProducer release native cache immediately?"
In EncodedMemoryCacheProducer, when after
`cachedResult = mMemoryCache.cache(cacheKey, ref);`
will call
`CloseableReference.closeSafely(cachedResult);`
`EncodedImage.closeSafely(cachedEncodedImage);`

This then causes the native cache pool to remain empty

[2017-09-07 06:50] benzly commented on #1895
Now that the release is immediate, what is the function of this cache pool?

[2017-09-07 09:29] kirwan commented on #1895
The reference returned by cache() is not the same reference that's held within the cache itself.

When the entry is stored in the map, a [new reference is cloned and held only within the cache](https://github.com/facebook/fresco/blob/master/imagepipeline-base/src/main/java/com/facebook/imagepipeline/cache/CountingMemoryCache.java#L83).

All references returned from public methods should be closed

[2017-09-08 01:42] benzly commented on #1895
@kirwan Thank you for your answer
But why the encode cache pool just temporary growth? And soon afterwards it was empty

`                            FLog.v(TAG, "Cache image for %s to EncodeCache area", cacheKey.toString());
                            cachedResult = mMemoryCache.cache(cacheKey, ref);
                            if (FLogDefaultLoggingDelegate.getInstance().isLoggable(FLog.VERBOSE

[2017-09-08 09:56] kirwan commented on #1895
Do you provide your own `MemoryCacheParams` when building your config? If not, the `DefaultEncodedMemoryCacheParamsSupplier` should set the cache size to between 1-4MB depending on the device's memory.

Unless a trim event is triggered due to lack of memory the cache should stay around that size.

[2017-09-09 14:38] ar-g commented on #1884
@lambdapioneer I've ported our feed to glide and this crash disappeared, any ideas what might be causing it? I also have .hprof files before a crash. And this is the code we use to init Fresco and load pics.
[code]

[2017-09-10 14:27] sajjadiq95 commented on #74
solved thank you vivian8725118

[2017-09-11 09:40] wangfaxi1985 opened #1896 "ImageInfo`s size small then origion pic"
When i use:
![image](https://user-images.githubusercontent.com/5296419/30268755-50d5507c-9719-11e7-81d7-82330f56614d.png)

when onFinalImageSet exe,the imageinfo`s size small then origion pic
my origion pic`s size is :828*9164
imageinfo size is :165*1832

Fresco version:1.5
user this lib to support drag and scale Image:https://github.com/ongakuer/PhotoDraweeView

[2017-09-11 09:50] wangfaxi1985 commented on #1896
![image](https://user-images.githubusercontent.com/5296419/30268839-9e6086ae-9719-11e7-9d9c-93401feccd46.png)

this is the　effect　！！！，anyone help?

[2017-09-11 10:11] rhettor opened #1897 "How to display bitmap object by DraweeView?"
I found `DraweeView#setImageDrawable(Bitmap bm)` method is deprecated!
if I want to display bitmap object, How to do it by `setController(DraweeController)` ?

[2017-09-11 14:37] erikandre commented on #1897
Hi @rhettor,

If you just want to display a Bitmap then using an ImageView might be easier.
Is there a particular reason why you want to use DraweeView?

[2017-09-11 19:50] adamc01 opened #1898 "Add rounding support for RTL languages to GenericDraweeView"
Can we add rounding support for RTL languages to GenericDraweeView?

Need to add:
[code]

Android Studio already recommends using start/end instead of left/right in support of RTL languages (e.g., android:paddingLeft -> android:paddingStart)

I would be happy to help contribute too.

thanks,
Adam

[2017-09-12 00:28] ClaudeHangui opened #1899 "Crash inside Navigation drawer"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

I added the SimpleDraweeView inside my navigation drawer layout but I keep on having a NPE...
I did initialize fresco in onCreate
[FILL T

[2017-09-12 01:42] rhettor commented on #1897
@erikandre

Just example. I have photo filter util to modify brightness or others by user,  the util just return bitmap object. First, It show online or local photo, and next drag progressBar to change brightness, finally real-time show this changed.
So, `DraweeView` want to display bitmap object.

[2017-09-12 03:53] golden110 commented on #1738
@vivienhao
Has it been solved?

[2017-09-12 06:59] TinoGuo opened #1900 "For infinitely animated webp, the animation listener "onAnimationFrame" does't work"
### Description
I use a infinitely animated webp with fresco, I add a listener to check every frame to draw. When the animation start, I found that the frame callback is not increasing step by 1 and the drop frame is always 0.
What expected: It should increasing step by 1 or the frameNumber + dropFrame == FrameCount.

### Reproduction

just use a infinitely animated webp in fresco.

### Additional

[2017-09-12 16:21] erikandre commented on #1898
Hi @adamc01

Good idea! Please feel free to contribute an implementation of this.
A good place to start would be in:

- drawee/src/main/res/values/attrs.xml
- drawee/src/main/java/com/facebook/drawee/generic/GenericDraweeHierarchyInflater.java

[2017-09-12 16:24] erikandre commented on #1899
Hi @ClaudeHangui

Could you please also include the stack trace of the exception?
Are you calling Fresco.initialize() from the onCreate() of the activity or Application?

[2017-09-12 16:28] erikandre commented on #1900
Hi @TinoGuo

Could you please provide some example code showing what you are doing?

[2017-09-12 17:06] erikandre commented on #1897
OK, thanks for the explanation @rhettor

Since DraweeView is not very well suited for that use case you might want to try a workaround using 2 views:

1st view is a SimpleDraweeView that you use to load and display online/local photo
2nd view is an ImageView that you use to display the modified Bitmap

Once the user changes the brightness you could switched between view 1 & 2

[2017-09-13 05:52] #1897 closed

[2017-09-13 05:53] TinoGuo commented on #1900
@erikandre Hi, thank you for replying.
the code list below
[code]
and then you will get the the log below
[code]

The frameNumber increase step by random number even 0, and I found the repeat callback is not working as expected, because it will check the frameNumber is equal to 0. Maybe you will never call the repeat callback or you are lucky enoughly.

Thanks.

[2017-09-13 10:48] erikandre commented on #1896
Hi @wangfaxi1985, when you say image size, is that width * height?
Do you get the same problem for an image with less long aspect ratio?
It would also be helpful if you could share the problematic image with us. Thanks!

[2017-09-13 13:07] oprisnik commented on #1900
Thanks @TinoGuo. Yeah, I think we should calculate dropped frames differently. Currently, they are only logged when drawing fails - not if you completely skip some frames. I'll se if there's an easy fix.

[2017-09-13 16:00] TinoGuo commented on #1900
Thanks @oprisnik.
Now what my tricks is check the frame number decrease, but there is a bug that it's too late to get the repeat callback and stop animation. I hope the fix coming quickly.
My product is required to show animated WebP in the duration, but thanks your suggestion, also for this awesome library.👍

[2017-09-14 03:04] wangfaxi1985 commented on #1896
yes，
the image uri is:[http://oss.kitalive.tv/1814315266780168200?Expires=1505443983&OSSAccessKeyId=LTAIJ9IsE3t7IQ91&Signature=uIE5ga5afy8XD5Ry88hZT6KXZwY%3D](url)
its size is:`828*9164`，but fresco 's BaseControllerListener return 's imagesize is:`165*1832`
i use another size `3120*4160`,the fresco return size is:`780*1040`
i use image size:`200*200`,the fresco return size is ok (`200*200`)
it see

[2017-09-14 03:11] wangfaxi1985 commented on #1896
the image url may not access,this is origion pic
![1814315266780168200](https://user-images.githubusercontent.com/5296419/30410324-f3846d7e-993c-11e7-9ae5-1613cc561736.png)

[2017-09-14 10:44] BALUSANGEM commented on #1896
@wangfaxi1985  One possibility is that you might be _enabled down sampling_ when initializing fresco

[code]

[2017-09-14 11:45] erikandre commented on #1896
@wangfaxi1985 Depending on the device you are running this on, there are limits to how large a bitmap can be. On older devices it is 2048x2048 and on newer devices it will be bigger than that.

As a workaround, could you try disabling hardware acceleration for the view?

`view.setLayerType(View.LAYER_TYPE_SOFTWARE, null)`

[2017-09-14 13:46] voiddog opened #1903 "Unsupported marker type 0x4f throwed when TranscodeJpeg"
### Description
I catch an exception when decode a large jpeg image (taken with Samsum Galaxy S8+), here is the exception:
[code]

### Reproduction
1. download the photo file: [click to download](http://voiddog.qiniudn.com/20170908_151646.jpg)
2. enable `setDownsampleEnabled(true)` (if not, works fine)
3. show image with `SimpleDrawee`
[code]

### Additional Information

* Fresco version: 1.4.0
*

[2017-09-14 14:00] erikandre commented on #1903
@voiddog The attached image is more than 23000 pixels wide. As a workaround I would suggest reducing the size to something more manageable.

[2017-09-14 14:17] voiddog commented on #1903
I scanned the picture from the album, so I can not control the size of the picture.

There is another problem:
After the above error is triggered, it is easy to cause `sharedmem_gpumem_alloc: mmap failed errno 12 Out of memory`. Every time I start a web will have this error.

[2017-09-15 03:56] wangfaxi1985 commented on #1896
@erikandre ,i try set  `view.setLayerType(View.LAYER_TYPE_SOFTWARE, null)`, but not work ,tks
@LUSANGEM  yes i set `setDownsampleEnabled(true)`,is other way to close `setDownsampleEnabled(false)` for temporary

[2017-09-15 08:23] xiaolongyuan opened #1904 "Run Comparison Demo :The application may be doing too much work on its main thread"
[code]

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can we reproduce the bug? Provide URLs to relevant images if possible, or a sample project.]

### Solution

[OPTIONAL: Do you know what needs to be done to address this issue? Ideally, provide a pull request which fixes this issue.]

### Add

[2017-09-15 08:23] xiaolongyuan commented on #1904
![image](https://user-images.githubusercontent.com/3142363/30473225-3c0f0bd0-9a32-11e7-87d6-7571c04db226.png)

[2017-09-15 08:24] xiaolongyuan commented on #1904
![image](https://user-images.githubusercontent.com/3142363/30473238-4b4a49fc-9a32-11e7-8e46-f85389138d0a.png)

[2017-09-15 08:27] xiaolongyuan commented on #1904
![image](https://user-images.githubusercontent.com/3142363/30473270-69bc3026-9a32-11e7-8bc7-36beede10170.png)

[2017-09-16 07:20] kycqdhl3c commented on #22
@dbrant I have the same issue, Have you find some way to resolve?

[2017-09-16 10:23] oprisnik commented on #22
See #1446

[2017-09-18 12:34] oprisnik opened #1905 "Overlay drawable alpha value not respected"
### Description

Reported via StackOverflow: https://stackoverflow.com/questions/45971482/translucent-image-overlay-drawable-loses-alpha

If you set an overlay drawable, the alpha value will always be set to 255, no matter what the actual alpha value is.

### Reproduction

[code]

The alpha value of the drawable will be 255 instead of 50.

### Solution

The reason for this is that a `FadeDrawable`

[2017-09-19 00:18] kraghu commented on #552
this seems to be working fine in Android 25+ devices but on devices < 25 it crashes with OOM. Please advice how we go about this issue

[2017-09-19 02:14] kraghu commented on #1793
@bblackbelt what is the solution for RV inside NextedScrollView ? I have recycle view with match_parent settings

[2017-09-19 11:55] crossle commented on #1841
Does not work setLegacyVisibilityHandlingEnabled on Android N galaxy s8+

[2017-09-19 12:45] erikandre commented on #1896
@wangfaxi1985 - the next should contain support for region decoding of images. That would allow you to only load a part of the image. That does not really solve the problem, but if support for this was added to PhotoDraweeView then you could have a smaller version when zoomed out, and then load a higher resolution version when zooming in.

[2017-09-19 13:23] #1898 closed

[2017-09-20 06:41] perseusyang commented on #1144
the same problem for me , happening on MEIZU PRO5 （6.0.1）PRO 6 （6.0）.小米M2（6.0） devices.

[2017-09-21 01:44] zxz1990 commented on #1882
This is an ashmem issue. We have evaded this crash by resizing the image to a small size with assembled url. Thanks for your assistance. @lambdapioneer

[2017-09-21 09:58] qinhehu commented on #480
+1

[2017-09-21 10:43] oprisnik commented on #1882
Great to see that you've resolved the issue.

[2017-09-21 10:43] #1882 closed

[2017-09-21 12:48] blueflychief commented on #1872
@oprisnik
I met the error like this when I load a bad webp image,

This is the bad webp url:  [http://s1.wmlives.com/data/dongci/opus_cover/201709212010098CvyM09UO2h.webp](url)

Here is the crash log:
09-21 20:34:15.050 13433-13433/xx.xxxxx.xxxxx A/art: art/runtime/check_jni.cc:70] JNI DETECTED ERROR IN APPLICATION: JNI MonitorEnter called with pending exception 'java.lang.IllegalStateException' t

[2017-09-21 18:51] bpappin commented on #1435
Where release is this fixed in?
It still happening in fresco:1.5.0 a year after being reported.

[2017-09-22 11:13] yelonglt opened #1906 "SimpleDraweeView set ScaleType not worked"
How to set ScaleType on SimpleDraweeView when load dynamic webp or gif.
I set ScaleType any type not worked.
`
GenericDraweeHierarchy hierarchy = new GenericDraweeHierarchyBuilder(getContext().getResources()).build();
        hierarchy.setActualImageScaleType(ScalingUtils.ScaleType.FIT_XY);
        mSimpleDraweeView.setHierarchy(hierarchy);
`

[2017-09-22 16:44] ryanzor commented on #1445
![ezgif com-resize](https://user-images.githubusercontent.com/1966657/30755156-70e6bd74-9f7a-11e7-8f01-4e25958eecbc.gif)

This fix seems to not work randomly.  I'm setting setGlobalLegacyVisibilityHandlingEnabled to true, but after a few clicks, the returned image is blank.

[2017-09-23 08:33] newjorchen opened #1907 "SIGSEGV crashed at libstatic-webp.so on x86"
hi, I've introduced fresco which version is 1.3.0. However, I got the SIGSEGV crashed at libstatic-webp.so when run on x86 android phone.  The stack info is:
libstatic-webp.so + 0x7ca97
    eip = 0x683d9a97   esp = 0x6befd61c   ebp = 0x6f33e280   ebx = 0x6840df10
    esi = 0xf3f00000   edi = 0x0000000a   eax = 0x6f33df30   ecx = 0x00000000
    edx = 0x683e78f0   efl = 0x00210246
and the correspond

[2017-09-23 20:24] ryanzor opened #1908 "focusCrop doesn't work correctly with sharedTransitions"
### Description

When using scaleType "focusCrop" for a shared transition the image will change to be centerCropped then the shared Transition will take place.  On the exit transition, it will transition to be centerCropped and then after the transition finishes it will move to the focusCrop.

I am using setLegacyVisibilityHandlingEnabled, but don't think that matters.

### Reproduction

This is a

[2017-09-24 22:56] kraghu commented on #1869
@oprisnik can you suggest any workaround fix meanwhile ?

[2017-09-25 03:59] yline commented on #616
this happed to mine too; for many phone;

[2017-09-25 03:59] yline commented on #616
the usage:

[2017-09-25 03:59] yline commented on #616
ImageRequestBuilder imageRequestBuilder = ImageRequestBuilder.newBuilderWithSource(imageUri);
        imageRequestBuilder.setProgressiveRenderingEnabled(isProgressiveRendering);
        ImageRequest imageRequest = imageRequestBuilder.build();

        PipelineDraweeControllerBuilder controllerBuilder = Fresco.newDraweeControllerBuilder();
        // controllerBuilder.setOldController(frescoView.ge

[2017-09-25 04:03] yline opened #1909 "java.lang.RuntimeException: Failed to pin Bitmap"
1) the way i used:

[code]

2) So the question happend:
[issues.txt](https://github.com/facebook/fresco/files/1328230/issues.txt)

the issues.txt is my log for the problem;

3) last: the version that i use

[code]

[2017-09-25 09:54] foghina commented on #1908
CC @oprisnik

[2017-09-25 12:35] marcosalis commented on #1445
I'm having the same issue with `setLegacyVisibilityHandlingEnabled`. Setting it to `true` works most of the times but sometimes, just randomly, the image disappears after the return transition.

[2017-09-25 14:51] foghina commented on #1909
Hi @yline, thanks for the bug report! Can you tell us what device & Android version this happens on specifically? Your usage of Fresco looks ok.

[2017-09-25 14:54] foghina commented on #1907
Hello, thank you for the report! What device / emulator and Android version does this happen on? Also, can you repro with the latest version of Fresco?

CC @lambdapioneer for native magic.

[2017-09-25 23:42] MiguelCa-MSFT opened #1910 "Decoding images over HTTP that returns 204 status response"
### Description

Fresco throws an IllegalArgumentException (with "unknown image format" as message) when decoding an image over HTTP that returns a 204 status code. Here there is more information about 204 status code: https://httpstatuses.com/204

This is treated as a generic error, so when we are trying to handle it on our React Native app, we can't differentiate this from other kinds of error (

[2017-09-26 02:11] 654277633 opened #1911 "UnsatisfiedLinkError"
Fatal Exception: java.lang.UnsatisfiedLinkError: (<clinit> failed, see exception in other thread)
       at com.facebook.imagepipeline.memory.NativeMemoryChunkPool.alloc(NativeMemoryChunkPool.java:58)
       at com.facebook.imagepipeline.memory.NativeMemoryChunkPool.alloc(NativeMemoryChunkPool.java:20)
       at com.facebook.imagepipeline.memory.BasePool.get(BasePool.java:257)
       at com.facebo

[2017-09-26 06:57] zewenwang opened #1912 "Bad performance on Swap Buffers for gif image"
We analyzed the profile GPU rendering，but the performance so bad when playing gif image after upgrade fresco version form 1.3.0 to 1.5.0, especial used in recyclerview.

Under is the GPU performing when play gif image in recyclerview, there is about 8 gif on the screen.
<img width="1337" alt="gpu performing" src="https://user-images.githubusercontent.com/9018172/30846572-cc1a7c3c-a2ca-11e7-9503-59

[2017-09-26 08:58] yline commented on #1909
I try again many times;  the Device is "魅族"；Android version : "6.0"

[2017-09-26 10:21] hcadoid opened #1913 "dlopen failed: library "/system/lib/libimagepipeline.so""
From the user's statistical log，The test did not happen，Uncertainty，only in 7.1 devices。
The user's device is xiaomi mix2（7.1）,but I did not appear in google pixel。
I read the previous issuse, they are through the SoLoader or ReLinker library to fix?

[code]

[code]

[code]

[2017-09-27 00:02] kraghu commented on #1551
@kirwan Fresco gif support is really bad still on 1.5.0 :/  I wish it at least work like glide . Display the image until gif is completely loaded

[2017-09-27 00:05] kraghu opened #1914 "Gif animation is very slow and crashes with OOM in 1.5.0"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]
We have a photo shop created gif files and

[2017-09-27 04:07] newjorchen commented on #1907
@foghina  the device crashed is ASUS T00J. Since the API of the Fresco are different between 1.3.0 and 1.5, and our project originally use 1.3.0, I do not try to upgrade to latest version.  I tried to rebuild the 1.3.0 by adding the flags '-mstackrealign -mincoming-stack-boundary=4', but the output library libstatic-webp.so has nothing different in the size and the function entry, and the app stil

[2017-09-27 04:16] shewim commented on #1657
@lambdapioneer hi, how about this issue now?

[2017-09-27 08:38] foghina commented on #1914
Hi @kraghu. Do you think you can provide these problematic GIFs, to help us debug? CC @oprisnik

[2017-09-27 14:11] lambdapioneer commented on #1657
Hi @wo327808864 and @shewim, thanks for the ping. Even though the GIF image might be a special case (not sure if it is within the standard), I think it's reasonable to expect that it does not crash the application. I'll make sure we look into this.

Also, we are always happy to accept pull-requests and this here is a good starter task.

[2017-09-27 14:37] lambdapioneer commented on #1907
Hi @newjorchen, thanks for raising the bug and thanks for having a detailed look already.

Does this bug only show on x86? Does it also crash on other x86 devices? Does that image also crash when you display it in the showcase app?

My guess is that it might be specific to a certain webp image. Can you share a crashing image with us?

[2017-09-27 20:49] kraghu commented on #1914
will update tomorrow .

[2017-09-27 21:51] rigdern commented on #1910
@foghina do you have any thoughts on this? We're interested in getting some advice on how to solve this problem from a fresco expert.

Adam Comella
Microsoft Corp.

[2017-09-28 11:46] foghina commented on #1910
The behavior you're seeing sounds correct to me. The server isn't returning any data, so it's impossible to determine the image format, so we throw an exception. IMO a 204 status code *is* an error condition when trying to load an image, so showing the failure / retry images is the correct behavior.

Bubbling up the http response code sounds potentially useful, but I'm not sure about putting it in

[2017-09-28 14:18] AndroidDeveloperLB opened #1915 "Cannot import project and run its sample"
I get this error:
![image](https://user-images.githubusercontent.com/5357526/30971610-0d0046ee-a471-11e7-8e96-54e577e52c13.png)

[2017-09-28 14:47] foghina commented on #1915
Any chance you have a stable version of Android Studio as well? If yes does it repro there as well?

Also, what version of gradle are you using?

[2017-09-28 17:28] foghina commented on #1915
I can't repro in either AS 2.2.3 or 3.0 Beta 6. The problem might be that you have the "Unnamed" build config selected (what is that?), you should try selecting something like "showcase".

Let us know if this still doesn't work for you, and if so, give us more info on your env: do you use the gradle wrapper or local gradle? What target are you trying to run / build?

[2017-09-28 17:30] MiguelCa-MSFT commented on #1910
Thanks @foghina for replying!

I agree that is the right behavior too. I guess what you are suggesting is to expand the general decode error in the case the decode failed because the content was empty. We can throw a more specific error, something like "Decoding failed due to empty content" or something like that. I think that would work for us. In order to make this useful on caller's end, we wou

[2017-09-29 15:05] foghina commented on #1909
Pinning bitmaps only happens on Android 4.4 and below, so I don't understand why we would try to pin on a 6.0 device. What is the value of `Build.VERSION.SDK_INT` on your device?

[2017-09-30 02:17] yline commented on #1909
A blunder resulting from the avoidance of a machine. I tried a few more attempts.

Three Machine;
1）meizu，Android6.0
Fresco show the view failed, if the picture is "jpg" or other
Also it show the view well, if the pictre is "png"

2）the virtual device created by Android Studio in windows
Corresponding information ： Nexus 5X API 23 &&  Android 6.0(Google APIs)  &&  CPU(X86)
Fresco show the view fai

[2017-09-30 02:19] yline commented on #1909
So you should be able to repeat what I said.

Just Create the visual device by Android Studio. You will see the situation

[2017-09-30 08:20] oprisnik commented on #1445
@marcosalis does it only happen on Oreo or also on Nougat?

[2017-10-01 09:52] AndroidDeveloperLB commented on #1915
I don't have stable version of Android-Studio, but it's Beta 6 already, so should work fine.
All I did is Git-clone the repo, and open it on the IDE.
All gradle settings weren't changed from their default ones.

Trying to do it again, I chose not to update gradle version, and now it got a different issue:

![image](https://user-images.githubusercontent.com/5357526/31053027-5761ea1c-a69c-11e7-8f88-

[2017-10-01 10:40] AndroidDeveloperLB commented on #1915
On another time I tried the "comparison" sample, Fresco doesn't take more and more memory, but now its UI is very very slow, till it reaches ANR...

All tested on Nexus 5x with Android O, BTW.

[2017-10-01 17:47] marcosalis commented on #1445
Hi @oprisnik I've managed to reproduce it randomly on a Samsung S7 (Nougat) and on an emulator on API 26. Let me know if I can be of help to debug it.

[2017-10-03 00:18] MiguelCa-MSFT commented on #1910
@foghina @oprisnik could you please confirm if this approach is reasonable to you? Thanks!

[2017-10-03 16:50] foghina commented on #1910
Adding an `ImageEmptyException` sounds too specific. I'd rather add something more generic like an `HttpException` that would also hold the response code (if available). Do you think that would work?

[2017-10-03 17:10] oprisnik commented on #1445
Thanks, I'll try to repro when I have a bit more time

[2017-10-03 17:12] oprisnik commented on #1910
Yeah, I would also be inclined to keep this as generic as possible. Would it be an option to catch these in the network layer or somewhere else?

Also, is this something that quite a few people could run into or something that's specific to your setup? To me, it sounds like 204 should not be returned for images in general?

[2017-10-03 17:20] MiguelCa-MSFT commented on #1910
I can add the exception at the network level, my only concern is that a 204 response is not a network error, it is a success response. It is the decoder layer the one that really fails when there is no content to decode. However, you guys have way more experience with this code base and I will follow your guide lines. Thanks for the feedback!

About how often this error would happen, I am not sure

[2017-10-03 17:56] oprisnik commented on #1910
Without any Fresco changes, it is also possible to supply a custom `ImageDecoder` to Fresco (can be either a global or per-image override) that should be able to handle empty responses.

I'm not really sure where the best place for these checks would be. I'd have to dig into the current code a bit.

[2017-10-05 16:38] efrohnhoefer commented on #1913
There are number of issues loading native libraries on older version of Android. There are a number of similar issues already reported. Give either [SoLoader](https://github.com/facebook/SoLoader) or [ReLinker](https://github.com/KeepSafe/ReLinker) a try.

[2017-10-05 17:05] efrohnhoefer commented on #1847
The Gradle config only includes ARM binaries. If you want to run on x86 you need to include x86 binaries. Note: You don't need to include `armeabi` unless you want to support Gingerbread.

Gradle config should read:
[code]

[2017-10-07 11:08] wolongalick opened #1922 "HttpUrlConnectionNetworkFetcher fetchSync() method,callback.onResponse(is, -1);"
Why is -1??????

[2017-10-07 11:10] wolongalick commented on #1922
NetworkFetchProducer calculateProgress() methode,total params Always be 1

[2017-10-08 09:20] jcsla opened #1923 "placeholder image is weird."
hello

At first, my app screen shot is here.
![img_3076](https://user-images.githubusercontent.com/5294906/31315497-d5b4ae14-ac54-11e7-9772-3037573ba870.JPG)
my xml code is below.
<com.facebook.drawee.view.SimpleDraweeView
            android:id="@+id/picture_message"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            fresco:placeholderImag

[2017-10-09 05:15] lvc opened #1924 "API report for Fresco"
Hi,

Here is the report on API changes and backward binary compatibility for the Fresco library: https://abi-laboratory.pro/java/tracker/timeline/fresco/

The report is generated by the https://github.com/lvc/japi-compliance-checker tool for jars at http://central.maven.org/maven2/com/facebook/fresco/fresco/ according to https://wiki.eclipse.org/Evolving_Java-based_APIs_2.

Hope it will be helpful

[2017-10-09 08:25] kirwan commented on #1847
Thanks @efrohnhoefer for noticing the error which I'd missed.

@LIHAIYI I hope that helps you.

[2017-10-09 08:25] #1847 closed

[2017-10-09 08:28] huanting commented on #1747
java.lang.UnsatisfiedLinkError: dlopen failed: could not load library "libfb_jpegturbo.so" needed by "libimagepipeline.so"; caused by "libfb_jpegturbo.so" has bad ELF magic(Java:maxMemory=134217728, totalMemory=11235328, freeMemory=2759208; Native:NativeHeapSize=21311488, NativeHeapAllocatedSize=17565344, NativeHeapFreeSize=31176)
at java.lang.Runtime.loadLibrary(Runtime.java:361)
at java.lang.Sys

[2017-10-09 08:40] kirwan commented on #1923
That looks like a progress bar. I don't see anything in your XML that sets that. Do you have something in Java that does?

[2017-10-09 09:24] lambdapioneer commented on #1923
This looks like a known issue with rounded corners with overlay mode BITMAP_ONLY.

Try setting `fresco:roundWithOverlayColor="@color/you_background_color"` instead (it's also a bit more performant)

[2017-10-09 09:28] lambdapioneer commented on #1747
Hi @huanting, does this reproduce on those devices when you compile and run the showcase app from our repository?

If not, can you post the `build.gradle` file of your app?

[2017-10-09 09:31] huanting opened #1925 "dynamic section header was not found"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

java.lang.UnsatisfiedLinkError: dlopen failed: "/data/app/com.evergrande.eif.android.hengjiaosuo-2/lib/arm/libimagepipeline.so" .dynamic section header wa

[2017-10-09 09:39] lambdapioneer commented on #1924
Thank you @lvc! This is really interesting and we had a good read :)

For Fresco we have a set of classes/files (e.g. ImageRequest, ImagePipelineConfig) that we consider to form the API of Fresco. Other public classes are only public for internal reasons (splitting up into multiple APKs and similar). Otherwise, we treat them as internal or only for heavy power users.

Is there a way to provide a s

[2017-10-09 09:58] lambdapioneer commented on #1922
Hi @wolongalick,

see https://github.com/facebook/fresco/blob/f2268961dfd7d8be9ea3b3cf1a978c4d7d0aac9a/imagepipeline/src/main/java/com/facebook/imagepipeline/producers/NetworkFetcher.java#L35-L43

It indicates that the implementation does not provide the total data length from the network stream.

[2017-10-09 09:58] #1922 closed

[2017-10-09 10:05] lambdapioneer commented on #1925
Hi @huanting, can you check if the showcase app from our repository works on that device?

Also, can you post your `build.gradle` file?

[2017-10-09 10:08] lambdapioneer commented on #1913
@hcadoid, I'll close this task since the provided solution most likely fixed the issue and I haven't heard otherwise. Thanks @efrohnhoefer!

If your issue persists, just comment and I'll re-open.

[2017-10-09 10:08] #1913 closed

[2017-10-09 10:10] huanting commented on #1925
I can't test the showcase app on that device. This bug is reported from the thirdparty's SDk, named umeng.
It only report two times.
below is buid.gradle file.

apply plugin: 'com.android.library'

def config = rootProject.ext.configuration;
def libs = rootProject.ext.libraries;
def test = rootProject.ext.testingLibraries

//task copyLayout(type: Copy) {
//    from 'rooban/src/main/res/dialog/mess

[2017-10-09 10:19] huanting commented on #1747
I can't test the showcase app on that device. This bug is reported from the thirdparty's SDk, named umeng.
It only report two times.
below is buid.gradle file.

apply plugin: 'com.android.library'

def config = rootProject.ext.configuration;
def libs = rootProject.ext.libraries;
def test = rootProject.ext.testingLibraries

//task copyLayout(type: Copy) {
// from 'rooban/src/main/res/dialog/message

[2017-10-10 03:51] jcsla commented on #1923
@lambdapioneer thank you for your reply. I resolved this issue!!!!!!!! 👍 👍 👍 👍 👍

[2017-10-10 03:51] #1923 closed

[2017-10-10 05:22] gongzelong0718 opened #1927 "How to run the fresco demo in Android Studio"
### Description

How to run fresco demo

I imported the whole project in Android Studio

Information:Gradle tasks [:samples:demo:assembleInternalDebug]
Error:Execution failed for task ':imagepipeline:downloadLibjpeg'.

Information:BUILD FAILED
Information:Total time: 8.085 secs
Information:1 error
Information:0 warnings
Information:See complete output in console

### Additional Information

* Fres

[2017-10-10 07:30] bluef commented on #1661
@tliebeck how did you fix it?

[2017-10-10 08:26] tliebeck commented on #1661
Just made my own Exif factory class that throws a checked exception, and calling it always when I need EXIF data..  Not my favorite solution, but effective.

    public static ExifInterface get(String path)
    throws IOException {
        try {
            return new ExifInterface(path);
        } catch (RuntimeException | StackOverflowError ex) {
            // Internal error in Android's EXIF A

[2017-10-10 09:05] bluef commented on #1661
@tliebeck but by how did you replace the ExifInterface new instance creation code in LocalExifThumbnailProducer?

[2017-10-10 09:40] tliebeck commented on #1661
Sorry, I'm not actually using this project at all.  I had the same crash behavior in one of my own Android applications (entirely unrelated to this project / not using it).  Found this issue as it was the best search result.  I'm only posting here to confirm it happens elsewhere and wanted to note that most devices are immune, but some are not.  My solution in my own app is simply to route all cal

[2017-10-11 07:24] lvc commented on #1924
Hi,

Yes, it's possible to check only specified list of classes. But usually it's better to specify a list of classes/packages/annotations to skip in order to not to skip analysis of newly added public classes in latest versions of the library.

This report is only for fresco.jar. Are you interested to see other Fresco modules in the tracker? Which modules are more important? I can easily run the

[2017-10-11 09:15] lemon-zzz opened #1928 "Hello,i use setDownsampleEnabled() and ResizeOptions() to gif,but it is invalid.So what can i do to solve it.Thanks."
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-10-11 09:42] lambdapioneer commented on #1927
Hi @gongzelong0718, this looks like a problem with the configuration of your system or network.

Can you try the following command from your command line and check if it does work?

[code]

[2017-10-11 09:56] lambdapioneer commented on #1924
@lvc, that makes sense. CC @kirwan and @oprisnik  who have a good understanding on which packages and modules are the most critical for end-users.

[2017-10-11 10:04] lambdapioneer commented on #1928
Hi @lemon-zzz, for GIF images we do not support `setDownsampleEnabled()` and `ResizeOption`s. This is because we don't have the primitives for efficient resizing of GIF images.

Hope this information is helpful and answers your question. Otherwise, please feel free to comment here and I'll reopen the issue.

[2017-10-11 10:04] #1928 closed

[2017-10-12 01:40] lemon-zzz commented on #1928
Thanks anyway.

[2017-10-13 04:17] xjy2061 opened #1929 "Crash when prepare animated drawable frame after update to 1.5.0"
### Description

java.lang.RuntimeException: Failed to pin Bitmap
at com.facebook.imagepipeline.nativecode.Bitmaps.nativePinBitmap(Native Method)
at com.facebook.imagepipeline.nativecode.Bitmaps.pinBitmap(ProGuard:41)
at com.facebook.imagepipeline.platform.DalvikPurgeableDecoder.pinBitmap(ProGuard:156)
at com.facebook.imagepipeline.platform.KitKatPurgeableDecoder.pinBitmap(ProGuard:30)
at com.face

[2017-10-16 01:46] xiaolongyuan commented on #1914
@kraghu

[2017-10-16 02:30] SandyWangWei opened #1934 "OOM on android5.1.1"
### OOM like this

java.lang.OutOfMemoryError: Failed to allocate a 8294412 byte allocation with 2097152 free bytes and 6MB until OOM
dalvik.system.VMRuntime.newNonMovableArray(Native Method)
android.graphics.Bitmap.nativeCreate(Native Method)
android.graphics.Bitmap.createBitmap(Bitmap.java:812)
android.graphics.Bitmap.createBitmap(Bitmap.java:789)
android.graphics.Bitmap.createBitmap(Bitmap.java

[2017-10-16 03:25] starktonys commented on #420
i met the same problem , @agustindev  use  largeHeap="true" , it still occur that problem.

[2017-10-16 03:49] waynell commented on #209
For the latest version,  proguard should be:

`
-keep class com.facebook.animated.webp.** { *; }
-keep class com.facebook.animated.gif.** { *; }
`

[2017-10-16 19:12] kraghu commented on #1914
![9ca60e3e-ff3a-4365-9008-61c4bec1e154](https://user-images.githubusercontent.com/1152058/31630262-f2c65716-b26a-11e7-9204-7a5d616a322e.gif)

This is loaded from the network. based on my observation this works fine in OS 25 n 26 . Both are latest OS . But if you try to run on devices like <25 . it crashes all over. The glide happens to handle this well.

[2017-10-17 11:41] oprisnik commented on #1914
What's the crash that you're seeing?

[2017-10-17 14:00] oprisnik commented on #1910
We've discussed this a bit with the team. Do you know what the default behavior in a browser / iOS is if you get a 204 image to have a consistent default behavior?

To solve your problem, can you add a custom image format for the 204 image (with a corresponding header checker) and have a custom decoder that creates an empty 1x1px bitmap for these images.
The custom header checker can expect a head

[2017-10-17 16:29] MiguelCa-MSFT commented on #1910
Thanks for this information! We will consider this approach for sure. It seems we can use custom decoders to handle this situation and is up to us what to surface, either an error or, as you suggested, an empty image. Thank you very much for your help!

[2017-10-17 19:12] kraghu commented on #1914
OOM

[2017-10-18 05:08] chenyan0107 opened #1936 "Conflict with crosswalk"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

### Description

When i use fresco and crosswalk at same time,crosswalk unable to run

### Reproduction

### Solution

### Additional Information

* Fresco version: 1.5.0
* Platform version: 6.0
* Crosswalk version: 21.51.546.6

[2017-10-18 06:18] lemon-zzz opened #1937 "Java Runtime error: java.lang.RuntimeException: Failed to pin Bitmap. It happens on Android 4.2.2 and the device is samsung SM-G3818,so is there something to solve it?Thanks."
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-10-18 07:01] aakashshah94 opened #1938 "Image not getting displayed instead it gives dark grey background"
this is my xml code:
<ScrollView android:id="@+id/form"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:fresco="http://schemas.android.com/apk/res-auto">
        <LinearLayout
            android:layout_width="match_parent"
            an

[2017-10-18 08:27] SandyWangWei commented on #1934
The reason of OOM is that we need load big pic like 192*1080，sometimes load many large pics.Now we decide to clear memory cache when finish loading a big pic.Hope it works。

[2017-10-18 09:24] oprisnik commented on #1910
Awesome. Please let us know if this approach worked or if we still need to change Fresco.

[2017-10-18 12:46] kirwan commented on #1936
I have no experience of Crosswalk and would need much more information to understand the problem.

Does the failure happen while building or at runtime?

Can you point to a sample app which demonstrates the problem?

[2017-10-18 12:51] kirwan commented on #1937
Please answer the questions from the template. Without those details we cannot suggest a cause.

I'd also like to know if this happens on all images or particular one.

[2017-10-18 12:56] krottv opened #1939 "Placeholder transparency doesn't work properly with background."
### Description

I want to set placeholder and background to the image. The issue is that my placeholder is an icon on transparent background. And regions of the icon crops background. It is very vague in words, but please look at the attached picture and everything will become clear.
https://yadi.sk/i/xUFRLHlv3Nrsss
Compare with expected result - https://yadi.sk/i/RJ-tRu9l3Nrtw4

### Code

`

[2017-10-18 13:22] oprisnik commented on #1939
Thanks for reporting this issue. It seems to be related to #1905 where we also have wrong alpha values with overlays. We do not properly propagate these values right now.

[2017-10-18 13:45] jendrzej commented on #1859
I have that issue too. In my case code looks like this:

**InfoWindowAdapter**
[code]
**Drawee in xml**
[code]

but onFinalImageSet is never called. I tried to override all methods from BaseControllerListener and it seems that none of them has been invoked. Any ideas how to handle it?

[2017-10-18 14:01] kirwan commented on #1911
This is usually due to issues loading the native library and we generally recommend using ReLinker or SoLoader. See the [comment here for steps](https://github.com/facebook/fresco/issues/933#issuecomment-186266187).

[2017-10-18 14:01] #1911 closed

[2017-10-18 14:02] kirwan commented on #1912
cc @oprisnik

[2017-10-18 15:28] oprisnik commented on #1912
How are you using Fresco, how big are the GIFs etc.? The new implementation is way more performant than the old one - the difference is that the new one now loads all GIFs simultaneously whereas the old one wasn't (which was a worse experience). Do you have a comparison between 1.3.0 and 1.5.0?

[2017-10-18 16:08] zewenwang commented on #1912
We are using Fresco to load gifs in RecyclerView, which can show 6 to 8 gifs on screen. And the size of each gif is between 20KB and 60KB.
I've already compared the two version for the same RecyclerView. In 1.3.0, it is slow from load beginning to end(this is also the reason why I think the upgrade is necessary), but  when load success it costs less than 16ms for almost every frame. And in 1.5.0,

[2017-10-18 19:35] angarron opened #1940 "Animated Image does not play completely in SimpleDraweeSpanTextView"
### Description

`SimpleDraweeSpanTextView`, when given an animated image as the source, only plays a couple frames and then freezes. Rerenders can trigger a different frame to be displayed, but it is still not actually "playing". The same happens on both `.webm` and `.gif` files.

GIF example showcasing frozen GIF using keyboard show/hide toggle to force rerenders that show new frames:

![output]

[2017-10-18 21:45] aakashshah94 commented on #1938
my applogies . there is nothing wrong with fresco. The problem was with the external read permission. Also coverting into to byte array and sending base64data is not working for some reason.

[2017-10-18 21:45] #1938 closed

[2017-10-19 02:00] raymondctc commented on #4
But when does Fresco support region decode? I'm able to load the `EncodedImage` in a custom SubsamplingImageView image decoder with , but without region decode, it's useless.

Source code is something like this, any advice?
[code]

[2017-10-19 07:10] crazies opened #1941 "System.loadlibimagepipeline.so error"
[code]
[code]

My mobile phone Android 7 glory 8 can't show pictures, and another phone crashes directly   error
[code]

[2017-10-19 12:27] krottv opened #1942 "Feature Request: Control memory cache per request"
### Description

I would like to control memory cache per request. Sometimes I need it and sometimes I don't.
By analogy how it is done with disk cache:

`ImageRequest request = ImageRequestBuilder
                                .newBuilderWithSource(path)
                                .disableDiskCache()
                                .disableMemoryCache() //this is how it should be done.

[2017-10-19 23:06] ursusursus opened #1943 "How to ResizeOptions for match_parent, match_parent dimensions?"
Hi, I have a fullscreen imageview, with both width and heigth set to match_parent, i.e. frescos requirments of known dimensions are met, and it works.

However I do also need to resize the image with ResizeOptions as it might be bigger than needed.

Its there I trick how to get the actual dimensions without setting up a globalLayoutListener and waiting for it(if both dimensions are match_parent)?

[2017-10-20 06:23] harry235day opened #1944 "图片地址和图片格式 (Picture address and picture format)"
图片地址中含有_(短杠) 或者ssh 等 图片加载不出来，这是为什么？
Picture address contains _ (short bar) or ssh and other pictures do not load, which is why?

[2017-10-20 07:55] moehan opened #1945 "Cannot Run Showcase app In android Studio"
I have downloaded ndk as instructed.
![screen shot 2017-10-20 at 3 52 32 pm](https://user-images.githubusercontent.com/13792433/31810536-be994880-b5ae-11e7-9080-a005f02eccc7.png)

I failed to Load Sample App and got this error ... please advice. Thanks !

/Users/toccostudios_macmini02/Library/Android/sdk/ndk-bundle/build/core/build-binary.mk
Warning:(580) warning: overriding commands for target `/

[2017-10-20 08:52] joslte115 opened #1946 "For infinitely animated webp, the AnimationListener is not"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-10-20 11:48] dmueller39 commented on #1723
I recently had a similar issue which was actually the result of a version mismatch. I was compiling a dependency that was compiling an upgraded version of fresco `compile 'com.facebook.fresco:fresco:1.3.0'` , but in my projects build.gradle I was specifying an older version of the animated gifs library `compile 'com.facebook.fresco:animated-gif:0.14.1'`. Updated my version, and it started working

[2017-10-20 14:45] oprisnik commented on #1940
Thanks for the bug report! This is weird. The Drawable.Callback, which is used to trigger invalidations for example when the image has been downloaded / decoded should also work for animated images.

One problem that I had when implementing DraweeSpans was that without a custom Drawable.Callback, the wrong region might be invalidated. But this should not be the case here.

[2017-10-21 00:06] lendra85 commented on #668
this is not help for circular shadow.

[2017-10-21 15:05] krottv opened #1949 "fetchDecodedImage returnes recycled bitmap"
### Description

I want to display notification using fresco.

### Reproduction

Log from code below shows that bitmap is recycled. Interesting detail:
when I call this method first time with given imageUrl then everything fine. But second time bitmap is recycled.
Also If i try to load the same imageUrl even in another place of app using SimpleDraweeView, then bitmap is recycled there too.

[code]

[2017-10-22 09:41] krottv commented on #1949
Sorry, It is fault of RemoteControlClient. It recycles bitmap for some reason.

[2017-10-22 09:41] #1949 closed

[2017-10-23 10:11] erikandre commented on #1941
Hi @crazies

First of all, I would recommend that you update to the latest version of Fresco. v0.12.0 is more than a year old.

If you change the NDK abi filter to include armeabi-v7a. Does that make a difference?

[2017-10-23 10:14] erikandre commented on #1942
Hi @krottv

That sounds reasonable. You are more than welcome to implement it in a similar way to how it is handled for the disk cache, and then submit a pull request.

[2017-10-23 10:25] erikandre commented on #1943
Hi @ursusursus

I'm afraid using a layout listener is the way to go for that case. Either that, or if possible making sure that you already know the dimensions of the image beforehand.

[2017-10-23 10:25] #1943 closed

[2017-10-23 10:27] erikandre commented on #1944
Hi @harry235day

Do you have an example of the URL that does not load? I would like to try it out.

[2017-10-23 10:28] erikandre commented on #1945
Hi @moehan

Which NDK version are you using?

[2017-10-23 10:36] moehan commented on #1945
android-ndk-r15c-darwin-x86_64
android-ndk-r13b-darwin-x86_64

I've tried to use those 2 versions. Both not working :(

[2017-10-23 14:21] ShushanManandyan commented on #1937
com.facebook.imagepipeline.nativecode.Bitmaps.nativePinBitmap (Bitmaps.java)
--
  | com.facebook.imagepipeline.nativecode.Bitmaps.pinBitmap (Bitmaps.java:41)
  | com.facebook.imagepipeline.platform.DalvikPurgeableDecoder.pinBitmap (DalvikPurgeableDecoder.java:156)
  | com.facebook.imagepipeline.platform.KitKatPurgeableDecoder.pinBitmap (KitKatPurgeableDecoder.java:30)
  | com.facebook.imagepipelin

[2017-10-23 15:20] ShushanManandyan commented on #1657
Hi!  I have same issue. How can I handle this case?

[2017-10-24 01:15] crazies commented on #1941
嗯，我最后使用     abiFilters 'armeabi' 解决了这个问题 可能是其他库的so不完整导致
Well, I ended up ·using `abiFilters'armeabi' `to solve this problem, probably due to incomplete so of other libraries

[2017-10-24 01:18] crazies commented on #1941
And com.facebook.fresco:fresco:0.12.0, I thought it was the latest version, and I saw it from the official website SDK document

[2017-10-24 01:18] #1941 closed

[2017-10-24 07:05] wangrunxiang opened #1950 "Load webp animation picture is success，but wait a minute，crash"
Load webp animation picture is success，but wait a minute，crash

Android version is 4.4.4, device is Meitu M4

FATAL EXCEPTION: Thread-860
                                                                   Process: com.duowan.mobile, PID: 13315
                                                                   java.lang.RuntimeException: Failed to pin Bitmap

[2017-10-24 11:49] shuangmin commented on #1497
@oprisnik the url you offer invalided, how can i find the real url

[2017-10-24 11:51] oprisnik commented on #1497
We've moved the custom decoder samples to https://github.com/facebook/fresco/tree/master/samples/showcase/src/main/java/com/facebook/fresco/samples/showcase/imageformat

[2017-10-24 17:13] sdeira commented on #1247
The same is happening to me, any workaround?

[2017-10-24 17:43] jmbusby commented on #1247
For what it's worth, I recently updated Fresco to v1.5.0 and this issue is now definitely fixed for me. Thanks!

[2017-10-24 17:43] #1247 closed

[2017-10-25 07:58] wangrunxiang commented on #1862
i have same one

[2017-10-25 08:35] wangrunxiang commented on #616
Excuse me, how do you solve this problem, and I also have this problem，thanks

[2017-10-25 09:20] erikandre commented on #1946
Hi @joslte115

Thanks for the detailed issue. We will try to look into it as soon as possible.

[2017-10-25 09:31] erikandre commented on #1950
Hi @wangrunxiang

1. Does this happen for all webp animations?
2. What is the size of the image?
3. Is this specific to the Meitu M4?

[2017-10-25 09:49] wangrunxiang commented on #1950
Hi @erikandre
     1.not always,it just happed sometimes
     2.image size is alaways less than 100kb
     3.not only Meitu M4， I found an other one  Coolpad dashen F2 ，it also Android version 4.4.4

[2017-10-25 09:54] wangrunxiang commented on #1950
Do I need to not use webp animation picture in Android kitkat

[2017-10-25 09:55] wangrunxiang commented on #1950
Do I need to not use webp animation picture in Android kitkat first？

[2017-10-25 09:55] TickerBomb opened #1951 "gif image download too slow"
### Description
When I use HttpUrlConnectionNetworkFetcher to download gif image, it's download speed is too slow. but not OkHttpNetworkFetcher. Animated GIF file size is about 16MB.

### Solution
The problem is that HttpUrlConnectionNetworkFetcher always returns -1 as contentLength.

in HttpUrlConnectionNetworkFetcher
[code]

in OkHttpNetworkFetcher
[code]

### Additional Information

* Fresco ve

[2017-10-25 09:59] wangrunxiang commented on #1951
The gif picture would have been big

[2017-10-25 10:10] wangrunxiang commented on #1950
can you help me solve it？

[2017-10-25 10:20] wangrunxiang commented on #1950
java.lang.IllegalStateException: Surface was already locked
	at android.view.Surface.lockCanvas(Surface.java:252)
	at android.view.ViewRootImpl.drawSoftware(ViewRootImpl.java:2436)
	at android.view.ViewRootImpl.draw(ViewRootImpl.java:2410)
	at android.view.ViewRootImpl.performDraw(ViewRootImpl.java:2254)
	at android.view.ViewRootImpl.performTraversals(ViewRootImpl.java:1884)
	at android.view.ViewR

[2017-10-25 10:25] erikandre commented on #1951
Hi @TickerBomb

Thanks for submitting the bug report.
Could you please elaborate a bit more on why the content length affects the download speed in this case?

[2017-10-25 10:57] mynameispp opened #1952 "Don’t use ScrollViews，Can we use NestScrollView"
Android  use NestScrollView,then Fresco views can have gone off-screen?

[2017-10-25 11:54] xjy2061 commented on #1950
I encountered same crash as I mentioned in #1929.

[2017-10-25 14:01] RomanTruba commented on #1657
Fixed in 504401041cc783c231feb7fabc870a3acea3ee30

[2017-10-25 14:48] lambdapioneer commented on #1657
Thank you @RomanTruba for fixing this. This will go out with the next release of Fresco.

[2017-10-25 14:48] #1657 closed

[2017-10-26 05:34] ksegla commented on #1914
User of react-native here. I think my issue may be linked to my this: https://github.com/facebook/react-native/issues/16529
Got a crash report from Google Play pointing to fresco as well. In my case, it is Webviews loading GIFs. Flickers after a while, sometimes crashes. Used to work fine 1-2 months ago (and while on React Native 0.43.2). Still works on fine on 5.0 and under systems. The issue is

[2017-10-26 07:33] wangrunxiang commented on #1950
@xjy2061 How did you solve this problem?

[2017-10-26 09:10] erikandre commented on #1952
Hi @mynameispp

Fresco should work with NestedScrollView. If you have found a bug related to this, then please file an issue describing the problem.

[2017-10-26 09:10] #1952 closed

[2017-10-26 09:12] erikandre commented on #1951
In general we recommend that you use OkHttpNetworkFetcher.

Please feel free to submit a push request if you want to help us improve HttpUrlConnectionNetworkFetcher. Thanks!

[2017-10-26 11:50] disav1 commented on #1950
http://crashes.to/s/afa02cf71db

Had the same problem after updating, had to revert back.
99% is android 4

[2017-10-26 19:41] ajaystha005 opened #1953 "How can I get GIF total Frame count and duration?"
I need to get the total Frame Count and the total duration of the gif

* Fresco version: 1.5.0

[2017-10-27 00:22] oprisnik commented on #1953
You can use a controller listener to get the `Animatable` when the final image is loaded, see http://frescolib.org/docs/listening-to-events.html

The animatable is an instance of `AnimatedDrawable2` and you can do:
`animatedDrawable2.getFrameCount()`, `animatedDrawable2.getLoopCount() * animatedDrawable2.getLoopDuration()`. Keep in mind that the loop count can be `AnimationInformation.LOOP_COUNT_I

[2017-10-27 00:22] #1953 closed

[2017-10-27 02:07] TickerBomb commented on #1951
Hi @erikandre

Because NativeMemoryChunk size is too smaller than contentLength, realloc occurs too frequently.

NativePooledByteBufferOutputStream.java
[code]

[2017-10-27 08:25] joslte115 opened #1954 "Crash when playing some Animated webp."
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

Description

it can render a few frames , but crash later.

Reproduction
Play the webp -> https://github.com/KeepLearningKeepGoing/LearningNotes/blob/mast

[2017-10-27 15:09] hzvtc commented on #1088
please use Uri.FromFile(new File(path)) ,not use Uri.parse("file://"+path)

[2017-10-27 17:34] ajaystha005 opened #1955 "App Keep Crashing without any logs after using Fresco"
I tested on Pixi Alcatel One Touch and ARgom Tech E450, The app keeps crashing after a while (when I start scrolling up and down) without any logs. But I tested on Pixel, It is working fine
But fortunately, I got one crash log. I am not sure if this issue is keep crashing my app

Please check out the log screenshot
https://ibb.co/kKi3qm

This is my code
[code]

[code]
 In Application class,
 `Fres

[2017-10-27 19:31] oprisnik commented on #1088
You should use `UriUtil`, see https://github.com/facebook/fresco/blob/master/fbcore/src/main/java/com/facebook/common/util/UriUtil.java#L218

[2017-10-28 00:56] ajaystha005 commented on #616
any solution?

[2017-10-28 03:08] programmerC commented on #1872
I met the same error when I load the follow image,
test gif:
http://img.soogif.com/Ny7vIXNfHbhsLawebZ5Cp68JTaeG7vwS.gif

[2017-10-30 06:17] wangrunxiang commented on #1950
@disav1 which version to revert

[2017-10-30 06:19] wangrunxiang commented on #1950
Hi @erikandre
which version revert to solve this problem

[2017-10-30 06:22] disav1 commented on #1950
@wangrunxiang  compile 'com.facebook.fresco:fresco:1.1.0'

[2017-10-30 06:45] wangrunxiang commented on #1950
@disav1  can I use 1.4.0?

[2017-10-30 08:55] wangrunxiang commented on #1950
@disav1 The version 1.1.0 do not has this problem？

[2017-10-30 09:04] disav1 commented on #1950
@wangrunxiang 1.1.0 didn't for sure. Above it I haven't tested.

[2017-10-30 11:15] dmitry-voronkevich commented on #1951
@TickerBomb, We use OkHttpNetworkFetcher and recommend it to others. If you need another fetcher, please send us pull request with fix for length issue.

[2017-10-30 11:40] dmitry-voronkevich commented on #1955
Hello, @ajaystha005, can you turn on logging on Fresco and find out what particular image crashes?
Please follow this instructions: http://frescolib.org/docs/troubleshooting.html#examining-logcat

[2017-10-31 05:49] Luchangrun commented on #1950
@wangrunxiang have you solved this problem？I had the same problem in my project when use version 1.5.0

[2017-10-31 09:32] wangrunxiang commented on #1950
@Luchangrun you can try the 1.1.0 version

[2017-11-01 08:47] Luchangrun commented on #1950
@wangrunxiang thank you very much .

[2017-11-01 11:18] artyomdangizyan opened #1956 "Problem with progressive loading"
I am using fresco version 1.5.0. When I am loading many at the same time with progressive loading I notice that some images are failing to load and when I am looking at fesco logs I this kind of log and this IllegalArgumentException is not telling what is wrong. And this happend after updated from 1.2.0 to 1.5.0
[code]

[2017-11-01 13:35] dmitrychistyakov commented on #1500
Hello! bug still here
Here is example which maybe will help you to investigate
https://gist.github.com/dmitrychistyakov/27a8ba6d5be74ee3214bb4d21752a47f
it works fine with commented round-related lines
Here is android studio profiler graph (scroll from image 1 to image 100)
![profiler2](https://user-images.githubusercontent.com/2329931/32276981-05a4c21e-bf22-11e7-98cf-db7342fa134a.png)

Now, let's

[2017-11-01 13:50] lambdapioneer commented on #1872
Running this through identify shows that the GIF image has different width/height for different frames:

[code]

This was a long standing bug (see https://github.com/facebook/fresco/issues/1657) that was fixed some days ago: https://github.com/facebook/fresco/commit/504401041cc783c231feb7fabc870a3acea3ee30

The fix should go with the next release. I'll close this task here for now, but please ping

[2017-11-01 13:50] #1872 closed

[2017-11-01 14:09] lambdapioneer commented on #1500
I've tried to reproduce in the current showcase app, but failed. The rounding sample app is no longer in the repository.

Maybe the problem solves for you when you upgrade to the latest Fresco version. Which version are you using btw?

Changed the following:

[code]

and

[code]

Observed that all images show up fine and that memory is not spiking:

![screenshot_1509545162](https://user-images.git

[2017-11-01 14:12] lambdapioneer commented on #1956
@artyomdangizyan can you provide us with the image that fails here? Ideally, you can make it reproduce in the `samples:showcase` app that you can find in our repro

[2017-11-01 14:24] lambdapioneer commented on #1954
Can reproduce using the URI override in the sample app and then going to the WebP fragment: https://github.com/KeepLearningKeepGoing/LearningNotes/blob/master/10002802_broken.webp?raw=true

[code]

@oprisnik is this something that looks familiar to you? We'll most likely need to check for pendingExceptions in libstatic-webp.so

[2017-11-01 23:16] oprisnik commented on #1954
I don't think I've seen this before, should we show nothing instead for broken WebPs?

[2017-11-02 04:01] bluef commented on #1661
So glad to see this issue was fixed with [f38a2bc8c2b196b7e821af13595b08dd15d987dd](https://github.com/facebook/fresco/commit/f38a2bc8c2b196b7e821af13595b08dd15d987dd) , Thank you @franzks and  @lambdapioneer

[2017-11-02 06:09] xjy2061 commented on #1950
https://github.com/xjy2061/NovaImageLoader/commit/272fc25c2dcf4e9180a2d7524689f0efa1c6fee6
https://github.com/xjy2061/NovaImageLoader/commit/3c6a8c67730475525042db0ad0dbe901c88e9ac1

I just catch the exception to avoid crash. @wangrunxiang

[2017-11-02 10:27] #1661 closed

[2017-11-02 10:33] lambdapioneer commented on #1954
At least it should not crash the app. I think the best is to propagate as a imagepipeline failure to the listeners

[2017-11-02 10:44] lambdapioneer commented on #1950
@xjy2061 do you mind to create a pull-request for this? Ideally, we want to propagate the error to the listeners such that it does not fail too silently.

@oprisnik can probably help with the surrounding animation classes.

[2017-11-02 13:46] PeteSesto opened #1957 "Error converting bytecode to dex"
### "Error converting bytecode to dex" gradle error after updating Fresco from 1.3 > 1.5

[code]

* Fresco version: 1.5
* Platform version: Android Studio ver 3.0 stable. Gradle version 3.0.0

[2017-11-02 14:23] PeteSesto commented on #1957
Nevermind.  Was an issue with android studio not doing proper clean

[2017-11-02 14:23] #1957 closed

[2017-11-02 15:55] efrohnhoefer opened #1958 "AbstractDraweeControllerBuilder#setDataSourceSupplier should return BUILDER"
### Description

`AbstractDraweeControllerBuilder#setDataSourceSupplier` should return `BUILDER`.

[code]

### Solution

Change `AbstractDraweeControllerBuilder#setDataSourceSupplier` to return `BUILDER`

### Additional Information
* Fresco version: 1.5

[2017-11-02 16:05] lambdapioneer commented on #1958
Thanks for the suggestion @efrohnhoefer, we should fix that. Please feel invited to create a pull-request if you want to contribute to Fresco :)

[2017-11-02 16:06] efrohnhoefer commented on #1958
I will submit a PR shortly...

[2017-11-02 17:22] #1958 closed

[2017-11-03 01:14] fengruyi opened #1960 "BUG UnsatisfiedLinkError Android 4.4 use com.facebook.fresco:fresco:0.13.0"
java.lang.UnsatisfiedLinkError: Native method not found: com.facebook.imagepipeline.memory.NativeMemoryChunk.nativeAllocate:(I)J
	at com.facebook.imagepipeline.memory.NativeMemoryChunk.nativeAllocate(Native Method)
	at com.facebook.imagepipeline.memory.NativeMemoryChunk.(NativeMemoryChunk.java:58)
	at com.facebook.imagepipeline.memory.NativeMemoryChunkPool.alloc(NativeMemoryChunkPool.java:60)
	at

[2017-11-03 02:30] joslte115 commented on #1954
@lambdapioneer  yes, it should not crash the app. What is more serious is that it can't be catched.

[2017-11-03 15:51] efrohnhoefer commented on #1960
There are number of issues loading native libraries on older versions of Android. There are a number of similar issues already reported. Give either [SoLoader](https://github.com/facebook/SoLoader) or [ReLinker](https://github.com/KeepSafe/ReLinker) a try.

If you want to use ReLinker you can just add the following before initializing Fresco:

[code]

[2017-11-04 00:56] #1960 closed

[2017-11-05 19:58] HaykBrsoyan commented on #1956
@artyomdangizyan details!!!

[2017-11-05 20:12] Parthacus commented on #564
Sorry for reopening an old issue, but I seem to be having a similar problem, my app currently has a main page with ~60 images with a small text that are displayed using a recycler view and I would expect Fresco to handle fine since it **should** only be loading a few at a time, however I frequently get a "Pool Size Violation".  I'm not entirely sure if this is a fault on my side or on Fresco's so

[2017-11-05 22:03] Parthacus opened #1961 "Bad performance in Fresco with Recycler View, Possibly due to Kotlin?"
### Reproduction

My app currently has a main page with ~60 images with a small text that are displayed using a recycler view and I would expect Fresco to handle fine since it **should** only be loading a few at a time, however I frequently get a "Pool Size Violation".  I'm not entirely sure if this is a fault on my side or on Fresco's so I'm deciding to include snippets of my code

**Note: It's m

[2017-11-06 06:43] starktonys commented on #1391
@erikandre  i updates but not work.

[2017-11-06 07:15] ShushanManandyan opened #1962 "com.facebook.imagepipeline.nativecode.Bitmaps.nativePinBitmap (Bitmaps.java)"
com.facebook.imagepipeline.nativecode.Bitmaps.nativePinBitmap (Bitmaps.java)

  | com.facebook.imagepipeline.nativecode.Bitmaps.pinBitmap (Bitmaps.java:41)
  | com.facebook.imagepipeline.platform.DalvikPurgeableDecoder.pinBitmap (DalvikPurgeableDecoder.java:156)
  | com.facebook.imagepipeline.platform.KitKatPurgeableDecoder.pinBitmap (KitKatPurgeableDecoder.java:30)
  | com.facebook.imagepipeline.

[2017-11-06 14:39] dnam50 opened #1963 "Images flash upon loading"
### Description

Upon loading an image (gif/jpg/webp/png) the image flashes the background color then loads the image. I expect that the image would just load and only have a placeholder when the image takes a while to load.
This problem is irrelevant to the size of the image (img size 10kb). Even if the image loads immediately the background color flashes.

### Reproduction

Essentially just load

[2017-11-06 15:33] Parthacus commented on #1961
**Update**
The resize feature doesn't seem to be working for some reason, though this doesn't seem to be affecting performance too much, it's still annoying, can anyone point out what I'm doing wrong?
![](https://i.imgur.com/CgNMSzD.png)

(They're not similar size at all eventhough they should both be set to 100x100)

[2017-11-06 17:46] oprisnik commented on #1962
Please fill out the template.

[2017-11-06 17:48] oprisnik commented on #1963
Thanks for reporting this issue. This is a problem for big images and GIFs and more details including a workaround can be found in #1468.

[2017-11-06 17:49] oprisnik commented on #1927
I assume that the problem has been resolved since this looks like a network issue.

[2017-11-06 17:49] #1927 closed

[2017-11-06 17:51] oprisnik commented on #1934
Sounds good. Let us know if you're still experiencing issues.

[2017-11-06 17:51] #1934 closed

[2017-11-06 17:53] oprisnik commented on #1915
Looks like the original issue (importing project) has been resolved. If you think the ANR is a Fresco issue, we need more details. Feel free to open a separate GitHub issue.

[2017-11-06 17:53] #1915 closed

[2017-11-06 17:56] oprisnik commented on #1906
Please take a look at our scale type example in the Showcase app.
You can set a URI override in the setting and everything works fine for me if I use a GIF.

See https://github.com/facebook/fresco/blob/4b54d54688565e57d7b290b214a7db38f74dec74/samples/showcase/src/main/java/com/facebook/fresco/samples/showcase/drawee/DraweeScaleTypeFragment.java

[2017-11-06 17:56] #1906 closed

[2017-11-06 18:07] ShushanManandyan commented on #1962
How can I edit template?

Additional Information

 version
    compile "com.facebook.fresco:imagepipeline-okhttp3:1.5.0"
    compile 'com.facebook.fresco:animated-gif:1.5.0'
    compile('com.facebook.fresco:fresco:1.5.0') {
        exclude group: 'com.parse.bolts', module: 'bolts-tasks'
    }

devices
HTC
   HTC Desire EYE  op.sys. 4.2.2/4.4.4

Motorolla
Moto X (1st Gen) op.sys.4.2.2/4.4.4
Droid U

[2017-11-06 18:10] oprisnik commented on #1962
There is an "edit post icon" at the top right of the post.

Does this happen when you are displaying animated GIFs / WebPs? How are you using Fresco?

[2017-11-06 18:23] ShushanManandyan commented on #1962
Yes this happens when displaying animated GIFs (we are not using webP).We are using Fresco to display animated GIFs and static images (png, jpg).

[2017-11-06 18:59] oprisnik commented on #1962
In that case, this looks like a duplicate of #1950. Please check the discussion there.

[2017-11-06 18:59] #1962 closed

[2017-11-06 21:30] Parthacus commented on #1961
### Update

Got more time to investigate what's going on here, I believe it is due to my Recyclerview (and all Kotlin Recyclerviews to my knowledge) not possessing the methods to check which Recyclerview items are on screen leading to Fresco breaking down, though it would be ideal if anyone could implement a method to see which items are on screen in a Kotlin Recyclerview, you don't have to and yo

[2017-11-07 02:04] AlexCJW commented on #1701
@erikandre

I know you have not enough information to solve OOM problems.  I just suggest to posting error event with callback instead of just throw OOM error. So that we can process OOM event ourselves.

[2017-11-07 02:32] vinhnguyenitvn commented on #564
This issue just happens when I try to display image as viewPager item, and the viewPager is in an item of recyclerView. Hope it helps to reproduce the issue
And it just happen with a gif image, not for png

[2017-11-07 08:13] HenryChao24 opened #1964 "Get bitmap cache with DataSources failed"
### Description

Get bitmap cache with DataSources failed

### Reproduction

[code]

[2017-11-07 10:54] oprisnik commented on #1961
Thanks. It would be great to look a bit more into this and see if there is something we need to do on the Fresco side. I'll keep this open in case somebody wants to do that. Pull requests are always welcome :)

[2017-11-07 11:39] oprisnik commented on #1964
I suppose you do not have access rights to the file or your path is wrong. See also #1858 and related issues for correct file paths.

[2017-11-07 11:39] #1964 closed

[2017-11-07 11:40] oprisnik commented on #1251
I'm closing this issue since it's more than a year old. Feel free to comment if this is still an issue.

[2017-11-07 11:40] #1251 closed

[2017-11-07 11:40] oprisnik commented on #1302
I'm closing this issue since it's more than a year old. Feel free to comment if this is still an issue.

[2017-11-07 11:40] #1302 closed

[2017-11-07 11:41] oprisnik commented on #1380
I'm closing this issue since it's more than a year old. Feel free to comment if this is still an issue.

[2017-11-07 11:41] #1380 closed

[2017-11-07 11:43] oprisnik commented on #1387
Please update to the latest Fresco version and update your proguard configuration according to http://frescolib.org/docs/shipping.html

[2017-11-07 11:43] #1387 closed

[2017-11-07 11:44] oprisnik commented on #1451
I'm closing this issue since it's more than a year old and @kirwan answered your question. Feel free to comment if this is still an issue.

[2017-11-07 11:44] #1451 closed

[2017-11-07 11:45] #1521 closed

[2017-11-07 11:48] oprisnik commented on #1531
We would need more details please, including information on how to reproduce your issue. Please let us know if this is still an issue.

[2017-11-07 11:48] #1531 closed

[2017-11-07 11:49] oprisnik commented on #1571
I'm closing this since it's almost a year old. Feel free to comment with why you'd need a custom producer instead of a decoder if this is still an issue.

[2017-11-07 11:49] #1571 closed

[2017-11-07 11:50] oprisnik commented on #1448
GIF rounding is currently not supported.

[2017-11-07 12:00] oprisnik commented on #1851
The image renders correctly for me both with fitCenter and centerCrop, see:

![screen shot 2017-11-07 at 11 59 20 am](https://user-images.githubusercontent.com/2699634/32492708-27d82d90-c3b3-11e7-9ab7-41973cb50b4f.png)

Please take a look at the sample app here: https://github.com/facebook/fresco/blob/master/samples/showcase/src/main/java/com/facebook/fresco/samples/showcase/imageformat/gif/ImageF

[2017-11-07 12:00] #1851 closed

[2017-11-07 12:01] Parthacus commented on #1961
@oprisnik
Thanks for your help, I'd love to do a pull request if I can find a solution

[2017-11-07 12:02] oprisnik commented on #1731
Yeah, please make sure that React Native and Fresco have the same version to keep everything in sync.

[2017-11-07 12:02] #1731 closed

[2017-11-07 12:03] oprisnik commented on #1679
Please make sure that Fresco is initialized correctly. If you're still seeing this crash, let us know with repro steps.

[2017-11-07 12:03] #1679 closed

[2017-11-07 12:05] oprisnik commented on #1904
It looks like we did not update the comparison app in quite some time. If you want, feel free to submit a pull request to fix these issues.

[2017-11-08 00:08] AndroidDeveloperLB commented on #1915
@oprisnik It's not just ANR issue. It's also memory leak issue. Both in the "comparison" sample.
Both could be just sample issues, but I don't know.
Please just try the sample.

[2017-11-08 04:01] mradzinski commented on #1701
@AlexCJW I don't think there's a way of handling an exception raised by the system such as an OOM, and furthermore can't think of an scenario where your app will be able to respond to a callback after receiving an OOM since that callback itself would also have to consume unavailable memory after all.

[2017-11-08 20:41] AndroidDeveloperLB commented on #1915
I've now tried to import the repo again, this time with Android Studio 3.1 canary 2, and again  it has an issue:
![image](https://user-images.githubusercontent.com/5357526/32573232-f3f11978-c4d5-11e7-83a0-cfef341cf919.png)

[2017-11-09 04:36] hnvn commented on #1841
I confirm that setLegacyVisibilityHandlingEnabled doesn't work on Android N Sony Xepria Z5, fresco 1.5.

[2017-11-09 23:44] oprisnik commented on #1638
This is possible with the new version. For example, to slow down by a given factor:

[code]

and then add a controller listener to wrap:
[code]

[2017-11-09 23:44] #1638 closed

[2017-11-10 06:17] 54binge commented on #1451
@oprisnik sorry about that,i have not in that team any more,it seems that they use other way instaead. sorry.

[2017-11-11 02:29] mrkcsc commented on #1940
Hi - I was just wondering if the recent commit https://github.com/facebook/fresco/commit/03a14ab06a9282ce098420217a9ca27a6ae6d587 to adjust animation listeners for infinitely animated `webp` in any way addresses this issue.

Thanks!

[2017-11-11 03:48] MartB commented on #1445
Can confirm doesnt work for me image goes blank after the exit transition is run.

[2017-11-11 03:51] MartB commented on #1445
Can confirm it does not seem to do its job at all most of the time (API24 + API25)

[2017-11-11 03:52] MartB commented on #1445
@oprisnik
Can confirm it does not seem to do its job at all most of the time (API24 + API25)

[2017-11-12 00:19] oprisnik commented on #1940
I think it shouldn't since these listeners are not used for invalidating the webp (and normal animated WebPs worked). I didn't have time to look into this yet, but debugging the issue shouldn't be too hard in case somebody wants to dig in and submit a pull request. There is a sample in the Showcase app.

[2017-11-12 04:40] xiuhaoli commented on #209
You solve my problem, thank you so much

[2017-11-12 06:44] OrangeFlavoredColdCoffee commented on #1439
it appears  when i update ReactNative to 0.48.4.   so  why it works well before ,and suddenly it happened

[2017-11-14 06:22] eggsywelsh opened #1967 "has white dot at the animate webp in the demo"

[2017-11-15 02:44] perseusyang opened #1968 "from cache i can't read full exif info"
#
### Description

  CacheKey cacheKey = DefaultCacheKeyFactory.getInstance()
                                        .getEncodedCacheKey(request, getContext());
                                BinaryResource a = ImagePipelineFactory.getInstance().getMainFileCache().getResource(cacheKey);
                                FileInputStream fileInputStream = (FileInputStream) a.openStream();

[2017-11-15 09:47] #1968 closed

[2017-11-15 09:48] perseusyang commented on #1968
exif接口的问题，Android读取异常

[2017-11-16 10:03] w0yne opened #1969 "Thumbnail of video from Android document provider does not show"
### Description

Video thumbnail cannot be rendered via `SimpleDraweeView#setImageURI` if the content uri is like:
`content://com.android.providers.media.documents/document/video%3A160`

### Reproduction

My app allows user to choose a file from Android document provider.  The Intent is constructed by this way:
[code]
The returned uri is `content://com.android.providers.media.documents/document/vi

[2017-11-16 23:06] angarron commented on #1940
This seems to be addressed in https://github.com/facebook/fresco/pull/1966 -- is there an upcoming release planned so that we can verify? I'm working on building Fresco locally and using it in my project, but if a release is on the way out I can hold off on that. Thanks so much @Kazemir and @oprisnik !

[2017-11-17 01:58] Kazemir commented on #1940
If you want to use this fix in your project, then just copy [this class](https://raw.githubusercontent.com/facebook/fresco/e548e50967768fbfdf27d6c2c8f3601533f5e11b/drawee-span/src/main/java/com/facebook/drawee/span/DraweeSpanStringBuilder.java) in your project. You should rename it and extend from DraweeSpanStringBuilder. Then use it insteed of DraweeSpanStringBuilder.

[2017-11-20 03:41] hnvn commented on #1841
I already created a sample project to reproduce this problem. Please take a look at it. Thanks!
https://github.com/hnvn/frescobugdemo

[2017-11-20 06:45] oprisnik commented on #1967
Please fill out the issue template or provide more details. I have no idea what your question or issue is.

[2017-11-21 02:05] hanhailong commented on #1961
The code is slightly problematic，in your **_bindItems_** method,should not be executed **_findViewBydId_** and **_setOnClickListener_**,should be in Kotlin's secondary constructors

[2017-11-21 10:20] hexiangyuan opened #1971 "Canvas: trying to draw too large bitmap. How to point this crash?"
Fatal Exception: java.lang.RuntimeException: Canvas: trying to draw too large(214622500bytes) bitmap.
       at android.view.DisplayListCanvas.throwIfCannotDraw(DisplayListCanvas.java:260)
       at android.graphics.Canvas.drawBitmap(Canvas.java:1420)
       at android.graphics.drawable.BitmapDrawable.draw(BitmapDrawable.java:545)
       at com.facebook.drawee.drawable.ForwardingDrawable.draw(Forw

[2017-11-21 10:57] dmitry-voronkevich commented on #1971
Hi @hexiangyuan, please follow our guidelines on how to create an issue for Fresco (fill the template provided when you click on "new issue"). Your particular question is more like a discussion and I would suggest to raise question on StackOverflow (http://stackoverflow.com/questions/tagged/fresco).

Such huge images should be resized before drawing. Best way is resize images on server if you have

[2017-11-21 10:58] #1971 closed

[2017-11-21 14:27] dmitry-voronkevich commented on #1969
Thanks for reporting and PR. Will close this one once PR is imported.

[2017-11-22 07:03] Ujjwal-soft opened #1972 "issue loading image when imagepath contains special chars like %"
### Description
 imagepath for my image is :
/storage/emulated/0/Pictures/OGQ/Richard Walker_Stairway To Heaven%3F_YkFgR2RZ.jpg

tried loading image with above Url but it failed because it contains % as special char in path, otherwise works fine.

### Additional Information

* Fresco version: [1.5.0]
* Platform version: [android all versions on all devices]

[2017-11-22 11:14] ibtisamasif commented on #1176
you have to enable this parameter by default it is not enabled in support library used by your application.
you have put this in `onCreate` of Application class.
`AppCompatDelegate.setCompatVectorFromResourcesEnabled(true); `

[2017-11-22 11:20] ibtisamasif commented on #1779
@oprisnik  i was able to fix this issue by adding `AppCompatDelegate.setCompatVectorFromResourcesEnabled(true);` in the onCreate of Application class. and this automatically fixes `fresco:placeholderImage="@drawable/vector_graphic"`

I have tested this in API level 19.

A similar question is posted on [stackoverflow](https://stackoverflow.com/a/37864531/5105583)

This should also be added on offic

[2017-11-22 11:22] ershanky opened #1973 "Image is not getting loaded in release apk by using Fresco"
While building release APK getting following warning
 **"Warning:com.facebook.imagepipeline.memory.BitmapCounterProvider: can't find referenced class com.facebook.infer.annotation.ThreadSafe"**
 I supressed it by using progard-rules.
**-dontwarn com.facebook.infer.annotation.ThreadSafe**
Does this issue concerned with image loading in release apk?

[2017-11-22 11:38] Gericop commented on #1779
@ibtisamasif The problem with that call is [clearly documented](https://developer.android.com/reference/android/support/v7/app/AppCompatDelegate.html#setCompatVectorFromResourcesEnabled(boolean)):

[2017-11-22 15:12] dmitry-voronkevich commented on #1972
Please look at this response on the similar issue: https://github.com/facebook/fresco/issues/1088#issuecomment-203730626

[2017-11-22 15:16] Ujjwal-soft commented on #1972
@dmitry-voronkevich looked into that before but none of the suggestions seems to be working...there is no method like parseFromFile() in Uri.parseFromFile(new File(path).. if you have some working solution, please suggest, thanks a lot!!

[2017-11-22 15:19] dmitry-voronkevich commented on #1973
Thanks for letting us know. Currently we are suggesting to follow this guide: http://frescolib.org/docs/shipping.html#proguard, which require including fresco proguard configuration.
We are thinking to automate this in future.

[2017-11-22 15:19] #1973 closed

[2017-11-22 18:33] #1969 closed

[2017-11-23 07:12] JinohK opened #1975 "Why does not gif scale?"
GIF and JPG are in recyclerview

I want to do fitXY but gif is small [example](https://github.com/JinohK/fresco_test)

Thank you for your help.

[2017-11-24 06:35] Ujjwal-soft commented on #1972
Found a solutions to this:

convert imagepath to Uri as :
    Uri picUri= Uri.fromFile(new File("/storage/emulated/0/Pictures/OGQ/Richard Walker_Stairway To Heaven%3F_YkFgR2RZ.jpg"

    ImageRequest request=ImageRequestBuilder.newBuilderWithSource(picUri).setResizeOptions(new ResizeOptions(width, height)).build();

This will load image contains special chars or symbols.

[2017-11-24 06:35] #1972 closed

[2017-11-24 06:35] Ujjwal-soft commented on #1088
Found a solutions to this:

convert imagepath to Uri as :
    Uri picUri= Uri.fromFile(new File("/storage/emulated/0/Pictures/OGQ/Richard Walker_Stairway To Heaven%3F_YkFgR2RZ.jpg"

    ImageRequest request=ImageRequestBuilder.newBuilderWithSource(picUri).setResizeOptions(new ResizeOptions(width, height)).build();

This will load image contains special chars or symbols.

[2017-11-24 20:11] dmitry-voronkevich commented on #1975
Hi, @JinohK, thank you for reporting this issue. I was able to reproduce it in our showcase app. Looks like we don't support downsampling of gifs.

[2017-11-25 06:52] ek1209 commented on #929
android.view.InflateException: Binary XML file line #31: Binary XML file line #31: Error inflating class com.facebook.drawee.view.SimpleDraweeView
                                                                        Caused by: android.view.InflateException: Binary XML file line #31: Error inflating class com.facebook.drawee.view.SimpleDraweeView

[2017-11-25 14:32] RJFares commented on #1683
@elyonsaber can you please share your custom view? I have a feeling I'm facing the same problem.
I'm using SDV as a recyclerview decoration and the controller listener is not being fired up...

[2017-11-25 14:51] liouvilles opened #1976 "github"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-11-26 15:39] dbof10 commented on #480
+1

[2017-11-27 03:03] hnvn commented on #1841
@oprisnik can you fix this problem soon?

[2017-11-27 09:28] kirwan commented on #1976
This issue has no details at all. Please open another if you want to raise something.

[2017-11-27 09:28] #1976 closed

[2017-11-27 11:23] oprisnik commented on #1841
I don't think I'll have time for a proper fix soon. However,  doing something along the lines of
[code]
as mentioned in #1445 should work.

The problem is that Google changed the visibility API and I didn't find an easy way to fix that for Drawee.

[2017-11-27 11:23] oprisnik commented on #1841
Pull requests are welcome :)

[2017-11-27 14:53] hnvn commented on #1841
Thanks for your suggestion. But I am still in the dark, where shall I place this code?

[2017-11-27 20:15] coding-chick opened #1977 "NullPointerException on views when using Fresco"
### Description

Getting a crash when using Fresco when transitioning between screens:

Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'int android.view.View.getVisibility()' on a null object reference Raw Text
--
 
Stack trace:
For Android 7 and above:

[code]

For lower OS versions:

[code]

### Reproduction

We see this crash in the wild, *only when Fresco is e

[2017-11-28 12:57] oprisnik commented on #1841
@hnvn take a look at the comments in #1445. You have to do this in your activity / fragment

[2017-11-29 12:22] babyblue1314 opened #1978 "Post-process caching is not always successful"
### Description
I am using RecyclerView to show images that are ciphered on our server, so post-process should be done before displaying. In order to eliminate the fade-in animation, I need to cache the post-processed images. However, the post-process caching is not always successful.

By using Fresco's logcat, I found that:
1. when post-process caching is successful, it shows that "PostprocessedB

[2017-11-30 12:16] sachinrkeche commented on #47
I am  having issue of ,
Error:Execution failed for task ':ReactAndroid:buildReactNdkLib'.

 I am working in Win 07 environment using r10e NDK.

[2017-12-01 02:58] hnvn commented on #1841
I don't know why, but if I replace hide() and add() by replace() fragment, the problem has gone.

[2017-12-01 09:03] ironmanTony commented on #1343
In Application onCreate set setDownsampleEnabled true
[code]

and load a big image( eg:1080*19500) with SimpleDraweeView
**this picture is muzzy**

the load image code:
[code]
in xml:
[code]

[2017-12-02 10:08] EMIN3M1986 opened #1980 "Bitmap limit is hardcoded to 384"
Hi. I'm using fresco to load a lot of stickers.
Until version number 14 there is no any problem. In 14 and above always on pre lollipop version this exception happened and app crashed.
I set maximum number of cache in fresco configuration.
     com.facebook.imagepipeline.common.TooManyBitmapsException

[2017-12-02 14:12] gkgio opened #1981 "Set file Uri in SimpleDraweeView when used Context.MODE_PRIVATE"
### Description

Bug with add SimpleDraweeView object using setImageURI when Uri.fromFile and saved file use openFileOutput(fileName, Context.MODE_PRIVATE);

 Context.MODE_PRIVATE makes the file inaccessible to other apps, but for fresco is problem to read and set file in SimpleDraweeView

 SimpleDraweeView work only with Uri when FileOutputStream object  - outputStream = new FileOutputStream(file

[2017-12-04 07:50] tttzof351 commented on #1981
+1

[2017-12-04 21:50] halizton commented on #1977
This actually happens on all the OS versions, we have seen a similar one on OS level < 7.

[code]

[2017-12-05 03:13] WenshyDreamPenta opened #1982 "java.lang.UnsatisfiedLinkError"
### Description

I met a bug on Sumsung and ZTE phone, the descirptions:
java.lang.NoClassDefFoundError
[com.facebook.imagepipeline.memory.NativeMemoryChunk]([url](url))

### Reproduction

[FILL THIS OUT: How can we reproduce the bug? Provide URLs to relevant images if possible, or a sample project.]

### Solution

[OPTIONAL: Do you know what needs to be done to address this issue? Ideally, provid

[2017-12-05 11:07] oprisnik commented on #1343
What do you mean with "muzzy"? Do you have a sample image and can you post a comparison between original and downsampled image?

[2017-12-06 10:21] stephen-workpop opened #1983 "HTTP error response when loading image results in leaked connection"
### Description
I noticed a bunch of log lines like this throughout Logcat as I used my app:
`19098-19147/<package> W/OkHttpClient: A connection to <my server> was leaked. Did you forget to close a response body?`

I eventually narrowed it down to a single SimpleDraweeView that was causing it when I tried to set its image URI.

Using imagepipeline-okhttp3, I added an OkHTTP client and interceptor

[2017-12-06 11:20] foghina commented on #1977
This doesn't look like anything I've seen before :(. It looks like the call isn't even making it into some a DraweeView, or any Fresco code for that matter.

DraweeViews are leaf nodes, we don't have any `ViewGroup`s in Fresco that would potentially cause this.

Is there any chance that your A/B experiment is not fully initialized or something, thus returning a `null` view somewhere?

I'm really s

[2017-12-07 02:20] kangshifu opened #1984 "how to load network image which end with .svg"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-12-07 17:25] foghina commented on #1984
We don't support SVG out of the box. However, we have an example for a custom SVG decoder here:

https://github.com/facebook/fresco/blob/master/samples/showcase/src/main/java/com/facebook/fresco/samples/showcase/imageformat/svg/SvgDecoderExample.java

Also, in the future, please actually fill out the issue description template.

[2017-12-07 17:25] #1984 closed

[2017-12-07 17:28] foghina commented on #1983
Thank you for the report! We don't use OkHttp internally so this is fairly low priority for us. Feel free to send a pull request though!

[2017-12-07 17:34] foghina commented on #1982
See here for solution: https://github.com/facebook/fresco/issues/933#issuecomment-186266187

[2017-12-07 17:34] #1982 closed

[2017-12-07 17:47] foghina commented on #1981
PRs are welcome :)

[2017-12-07 17:55] foghina commented on #1980
Are the stickers animated (gif / webp)?

If not, it's probably just a matter of either increasing the memory cache size (which you can do when configuring the pipeline), or more aggressively recycling DraweeViews. What are you using to display stickers, ScrollView or List/RecyclerView?

[2017-12-07 17:56] #1834 closed

[2017-12-07 19:38] stephen-workpop commented on #1983
@foghina Can you explain to me how Fresco was using OkHttp even before I included the imagepipeline-okhttp3 dependency? I was receiving the log line above when using the default settings for Fresco (not using the OkHttp image pipeline config). I even went through my build.gradle file and made sure to exclude OkHttp as a transitive dependency on all other dependencies. I then ran `gradle app:depend

[2017-12-07 19:53] stephen-workpop commented on #1983
Oh, here is a tweet from Jake Wharton himself saying that OkHttp is in fact part of the system as of Android v4.4: https://twitter.com/JakeWharton/status/482563299511250944

I guess that is how HttpUrlConnection is implemented.

[2017-12-08 14:00] kartyjoin commented on #1609
Thanks, you're right

[2017-12-08 14:15] foghina commented on #1983
Oh, sweet. I had no idea 😅

[2017-12-09 05:44] Hellozhongxin commented on #1144
the same problem for me , happening on vivo Y51 A (5.0.2）vivo Y35 （5.0.2） devices.

[2017-12-10 10:18] NicChongMy commented on #1033
@karun2189 have u fixed this? Im getting the same problem as well

[2017-12-11 11:13] obabujiApp opened #1985 "Loading .WebP image taking too much time"
Hello,

I am loading images in RecyclerView from web url but its taking too much time all images are in
 .WebP format , upto 100KB Size & 1000*1000 dimensions.

Earlier I was using same images in png (each size upto 500KB, dimension 1000*1000) i thought may be due to this reason its taking more time but i changed all images to .WebP after that size is reduced but still getting same issue.

I alrea

[2017-12-11 13:34] oprisnik commented on #1961
Thanks @hanhailong, yes that should definitely be changed. I'll go ahead and close this issue. If there's anything on the Fresco side, let us know and we can revisit.

[2017-12-11 13:34] #1961 closed

[2017-12-11 14:16] dmitry-voronkevich commented on #1985
@obabujiApp, can you please follow the guidance when posting issues. We need more details to help you.
Do you have example of an image you are loading?
What is definition of "taking too much time"? Is this time to load image or display image?
Is it slow when image been already cached and loaded from disc cache? (for this you can kill app and restart and if you have same urls you can expect them to

[2017-12-11 16:26] doublex commented on #1878
Same issue (fresco 1.3)

[2017-12-12 06:41] yline opened #1987 "OOM Problem"
###1：
the log:
[Fresco_OOM_Log.txt](https://github.com/facebook/fresco/files/1550458/Fresco_OOM_Log.txt)

Our App has many users every day. it has happend for many many times.

###2：
I came back to this question，Analyze the reason；This is my code.
1）FrescoConfig
[Fresco_OOM_Config.txt](https://github.com/facebook/fresco/files/1550466/Fresco_OOM_Config.txt)

2）Init in Application

    @Override

[2017-12-12 08:40] pluzmedia opened #1988 "How to cache resized local images?"
Hi,

In our app we are listing local photos but the problem is Fresco doesn't cache the local files. When i scroll a recyclerview during every data bind, library is attempt to resize the raw photos. On this behavior there is a lag in scrolling also eating too much system resources. How to handle this?. Any help would be appreciated.

[2017-12-12 17:06] oprisnik commented on #1878
Please raise this issue with React Native! Thanks!

[2017-12-12 17:06] #1878 closed

[2017-12-13 11:29] obabujiApp commented on #1985
@dmitry-voronkevich

Example of images i am loading
http://apnasweets.com/image/catalog/mobile_products/AlmondNut_1000X1000-min.webp
http://apnasweets.com/image/catalog/mobile_products/AlmondSandwitch_1000X1000-min.webp
http://apnasweets.com/image/catalog/mobile_products/Dry-Fruit-Cheeku_1000X1000-min.webp
etc

*Note:  all images are same dimension 1000x1000 with various size .

**taking too much

[2017-12-13 11:30] oprisnik commented on #1978
I believe the issue here could be that Fresco caches both the original image and the postprocessed image in memory cache. If for example the postprocessed image gets evicted from the cache (which I guess happens in your example), we'll have a hit on the original image and then apply the postprocessor and then cache the postprocessed image.
The postprocessed image will currently not be cached to th

[2017-12-13 11:30] #1978 closed

[2017-12-13 11:37] dmitry-voronkevich commented on #1985
@obabujiApp, by saying "slow", are you talking about minutes, seconds, milliseconds? What is your network speed? How fast browser loads same images on your phone on the same connection? Is it relatively same time or fresco is much slower?

[2017-12-13 11:57] obabujiApp commented on #1985
@dmitry-voronkevich  In browser  its taking around 20 sec but in my app around 40-50 sec with same network speed.

[2017-12-13 12:35] ironmanTony commented on #1343
<img width="277" alt="good" src="https://user-images.githubusercontent.com/5860185/33939082-bd9efb44-e044-11e7-9093-68be82957616.png">
<img width="281" alt="muzzy" src="https://user-images.githubusercontent.com/5860185/33939101-d0580726-e044-11e7-9946-15e82ab58c72.png">

origin image:
![screencapture-frescolib-org-docs-modifying-image-html-1512380318795](https://user-images.githubusercontent.com/5

[2017-12-13 16:41] oprisnik commented on #772
I'm closing this issue since we don't have a repro for this and we've released many new versions since then. Let us know if this is still an issue.

[2017-12-13 16:41] #772 closed

[2017-12-14 04:41] gracevenkat commented on #1207
abeemukthees... Me too struggling in the same problem. Please share your knowledge. Did you fixed this issue?

[2017-12-14 13:46] dmitry-voronkevich commented on #1985
Thank you, @obabujiApp, we will investigate this issue

[2017-12-16 03:50] ListenerGao opened #1991 "Fresco 1.7.0 Error:attribute 'com.listenergao.myapplication2:placeholderImage' not found."
When I updated Fresco to 1.7.0，compilation got an error。
this is my error log:
  Information:Gradle tasks [clean, :app:assembleDebug]
/Users/listenergao/AndroidStudio_Project/MyApplication2/app/src/main/res/layout/item_layout.xml
Error:error: attribute 'com.listenergao.myapplication2:placeholderImage' not found.
Error:attribute 'com.listenergao.myapplication2:placeholderImage' not found.
Error:fai

[2017-12-16 17:23] savvasdalkitsis commented on #1991
To add to this, it seems that 1.7.0 deployed a bad artifact. Most classes are missing from it.

SimpleDraweeView etc are not packaged in.

I am only seeing these classes:

![screen shot 2017-12-16 at 17 18 18](https://user-images.githubusercontent.com/873077/34072795-c12bbafc-e285-11e7-8679-886a41dec50a.png)

Downgrading to 1.5.0 works

[2017-12-18 06:09] codguru commented on #1991
I guess 1.7.0 dependancy is broken by update to gradle ( compile -> implements ).
So, added below dependancy. and It's working!

implementation 'com.parse.bolts:bolts-tasks:1.4.0'
implementation "com.facebook.fresco:fbcore:1.7.0"
implementation "com.facebook.fresco:animated-base:1.7.0"
implementation "com.facebook.fresco:animated-drawable:1.7.0"
implementation "com.facebook.fresco:imagepipeline-ba

[2017-12-18 06:30] dansaka commented on #1991
折腾一上午,不靠谱啊 ，准备弃用了

[2017-12-18 07:02] siralam opened #1992 "Fresco ver 1.7.0 Android Studio cannot resolve almost all symbols"
I just created a brand new Android Studio project, and imported Fresco 1.7.0
[code]

And then I found that except `Fresco` this class itself, looks like all other packages cannot be imported. This is what I see if I look into the class `Fresco`:

![image](https://user-images.githubusercontent.com/28033467/34093655-5ebaf42a-e404-11e7-937a-6ee6fade7a62.png)

If I fall back to Fresco 1.5.0, this issu

[2017-12-18 07:03] siralam commented on #1991
@dansaka 別啊，這是1.7.0的問題，我用1.5.0用得很開心

[2017-12-18 07:04] siralam commented on #1992
Dup #1991

[2017-12-18 07:04] #1992 closed

[2017-12-18 09:59] UFreedom opened #1993 "Is There have any detail about 1.7.0?"
I'm glad to see Fresco updated to 1.7.0, but when I looked at the official website or GitHub release, I didn't find the details of this update.

Fresco is a powerful library, and we want to know what the main updates are.

[2017-12-18 12:05] dmitry-voronkevich commented on #1993
Release notes published now: https://github.com/facebook/fresco/releases
Sorry for delay.

[2017-12-18 12:06] #1993 closed

[2017-12-18 12:19] UFreedom commented on #1993
@dmitry-voronkevich
Nothing has been found

[2017-12-18 14:02] MostafaElkhouly opened #1994 "can't load fresco's library to android"
I put your all code as you said
and I can make import  Fresco.initialize(this); to my Application's class
but I can't load widgets as you side in your side
<com.facebook.drawee.view.SimpleDraweeView
    android:id="@+id/my_image_view"
    android:layout_width="130dp"
    android:layout_height="130dp"
    fresco:placeholderImage="@drawable/my_drawable"
    />

I don't know why ... ... ... ?

[2017-12-18 15:35] dmitry-voronkevich commented on #1994
Please ask such questions on stackoverflow

[2017-12-18 15:35] #1994 closed

[2017-12-18 17:17] efrohnhoefer commented on #1991
Looks like the POM file is being incorrectly generated. Looking at (fresco-1.7.0.pom)[http://central.maven.org/maven2/com/facebook/fresco/fresco/1.7.0/fresco-1.7.0.pom] all the dependencies are missing. As @codguru points out it is likely do to changing compile to implements/api.

[2017-12-18 17:50] efrohnhoefer commented on #1991
Looks like the [android-maven-gradle-plugin](https://github.com/dcendents/android-maven-gradle-plugin) needs to be updated to v2.0.

[2017-12-18 18:34] foghina commented on #1991
Whoops, this is my bad. I've updated the release details with a link to this issue. I'll have a look tomorrow and push another release.

@efrohnhoefer do you think the plugin update is enough to fix everything? I would've thought some `implementation` -> `api` dependency changes would be necessary as well.

[2017-12-18 18:48] #1991 closed

[2017-12-18 18:49] efrohnhoefer commented on #1991
So I bumped the version to 1.7.1 and added a local repo to my test project.
[code]
I was able to successfully build my simple test project. I don't think any additional changes are required but my testing was limited.

[2017-12-19 03:27] lijibing892170 opened #1996 "fresco在Android 4.4加载https图片，有的可以加载，有的加载不了，有谁可以帮帮我，谢谢！"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2017-12-19 07:14] nawanirakshit opened #1998 "Unable to find the com.facebook.drawee.view.SimpleDraweeView"
I started with the documentation http://frescolib.org/docs/index.html

I compiled my gradle file with   **compile 'com.facebook.fresco:fresco:1.7.0'**

Added  **Fresco.initialize(this);** in the class extenfing **Application**

But I am unable to find the **com.facebook.drawee.view.SimpleDraweeView** as it is unable to find the view package.
Please find the attached image, any help is appreciable.

[2017-12-19 07:54] UFreedom commented on #1996
为什么加载不了。你要先确认图片有没有问题，再确定图片是不是太大，还有再确定你的网络问题

[2017-12-19 07:57] UFreedom commented on #1998
@ericnakagawa

Please check the release page https://github.com/facebook/fresco/releases

This release 1.7.0  is broken. see #1991

Please give them a little time to fix it

[2017-12-19 09:32] #1998 closed

[2017-12-19 11:46] dmitry-voronkevich commented on #1996
Don't know how to act on this report

[2017-12-19 11:46] #1996 closed

[2017-12-19 13:12] foghina commented on #1991
[v1.7.1 is now out](https://github.com/facebook/fresco/releases/tag/v1.7.1).

[2017-12-19 13:29] Rameshsam opened #1999 "com.facebook.drawee.view.SimpleDraweeView error in com.facebook.fresco:fresco:1.7.0"
We use GitHub Issues for bugs.
com.facebook.fresco:fresco:1.7.0

![image](https://user-images.githubusercontent.com/10371244/34159084-e8945f30-e4ed-11e7-852e-b933092e2fef.png)
![image](https://user-images.githubusercontent.com/10371244/34159098-f456bf7a-e4ed-11e7-970a-a4368da7236c.png)

I am trying to import com.facebook.drawee.view.SimpleDraweeView in 1.7.0 is it removed? Its added in the documen

[2017-12-19 13:39] jyh149129 commented on #1999
1.7.1

[2017-12-19 14:54] foghina commented on #1999
Fixed in v1.7.1, see #1991.

[2017-12-19 14:54] #1999 closed

[2017-12-19 14:58] Rameshsam commented on #1999
working

[2017-12-20 05:28] UttamPanchasara commented on #1661
I'm facing same issue, How do i replace that **LocalExifThumbnailProducer** file code ?
or i have to use this lib as module ?

[2017-12-20 10:16] MidoriInu1 opened #2000 "ResizeOptions is not working in Fresco 1.7.1？"
#### Description
Excuse me.
I can not confirm this is a bug, but when I update Fresco version to 1.7.1, ResizeOptions is not working, but it works normally in version 1.5.0.
Please help me to test this function.
thx.

#### Reproduction
##### This is my code:
[code]

[code]

##### When i run them in Fresco 1.7.1 ,the Logcat showing:
![image](https://user-images.githubusercontent.com/11972411/341993

[2017-12-20 11:39] dmitry-voronkevich commented on #2000
Thanks for reporting this issue. Maybe, @oprisnik can check if this issue caused by region decoding.

[2017-12-20 12:04] foghina commented on #1977
I believe this was fixed :-)

[2017-12-20 12:04] #1977 closed

[2017-12-21 12:31] yihuaqi opened #2001 "Improve error handling for setFirstAvailableImageRequests()"
### Description

We have found crashes on devices of old Android versions. I'm not sure what I have done wrong. Can you give me some clue that why it would happen so I can pinpoint the issue?

Thanks very much.

Here's the stacktrace:

[code]

### Reproduction
Cannot reproduce. It only happens in production.

### Additional Information

* Fresco version: com.facebook.fresco:fresco:1.2.0
* Platform

[2017-12-21 13:57] erikandre commented on #1987
Hi @yline

Could you please try using ResizeOptions to make sure that the images are resizes to a size that is suitable for the view. More details here: http://frescolib.org/docs/resizing.html

You can also enable the debug overlay to check if the images you are loaded are the right size:

https://github.com/facebook/fresco/blob/38d13c0995fd93688b228abea717870775868975/samples/showcase/src/main/ja

[2017-12-21 14:37] sahibprashant commented on #536
I am also getting some similar problem in my application. Will you suggest me what i have to do.
i m posting the same question that i post on stackoverflow. I know i am posting my ques in comments but i really need the solution of this that is why

 I am developing an android game and it is working properly in my  galaxy j5 prime but when it tested it in other devices then in some of  them the app

[2017-12-21 14:38] erikandre commented on #2000
Hi @MidoriInu1

Thanks for submitting the bug report. I tried to reproduce this in the Showcase app using our normal test images, but no luck.

Would it be possible for you to share one of your test images so that we can try it out? Thanks!

[2017-12-21 15:17] erikandre commented on #1988
Hi @pluzmedia

I believe the resized image should at least be cached in memory. Are you seeing a different behaviour? or is the problem that the resized image is not cached to disk?

[2017-12-21 15:34] EMIN3M1986 commented on #1980
Yes I use some animated (gif) and png Stickers in RecyclerView.
I set cache on maximum.

[2017-12-22 03:34] yihuaqi commented on #2001
@erikandre Got it. I am using setFirstAvailableImageRequests(...) and forget to take care of the case that it might be empty. Thanks for your help!

Might it be better to throw the exception in setFirstAvailableImageRequests(...) at once if it would certainly result in crash later on? The stacktrace is hard to decypher.

[2017-12-22 07:44] geetgobindsingh commented on #1909
Hi what is the status of above issue, any solution? Cause we are also getting same kinda issue.

[2017-12-22 07:45] geetgobindsingh commented on #1862
Is there any update with this issue ?

[2017-12-22 09:25] DankeLuo opened #2002 "'setDownsampleEnable(true)' cause very long picture muzzy"
### Description

when I user 'setDownsampleEnable(true)' and I found long picture is very muzzy, like picture with 1080x10000 . My version is 1.3.0.

### Reproduction

will you advance long picture performance with  'setDownsampleEnable(true)'?

### Solution

[OPTIONAL: Do you know what needs to be done to address this issue? Ideally, provide a pull request which fixes this issue.]

### Additional

[2017-12-22 10:24] erikandre commented on #2001
@yihuaqi, great :)

Yes, you're right, having a better error message for this would be very useful. I'll add it to the list of future improvements.
You are also very welcome to submit a pull request.

Thanks!

[2017-12-22 10:25] erikandre commented on #2002
Hi @DankeLuo

What ResizeOptions are you using? It would also be helpful if you could attach a screenshot showing the problem.

Thanks!

[2017-12-22 14:33] wangzhengyi opened #2003 "png format picture download from mobile network not shown"
Use fresco1.5.0 to download png format picture form network:
1. preload image use downLoadImage function.
2. display image use displayImage function.
onFinalImageSet is already called, but sometimes picture not shown. please help. Sample code like this:

preload code:
[code]

display img:
[code]

init fresco:
[code]

[2017-12-22 14:40] erikandre commented on #2003
Hi @wangzhengyi

I don't see any obvious problem in your code. What are you passing in as the BaseBitmapDataSubscriber parameter to downLoadImage()?

[2017-12-23 01:02] wangzhengyi commented on #2003
I pass null，because i only want preload image，doesn't care about the result. i think even downLoadImage function failed, displayImage function will also download png from network.
code:
[code]

[2017-12-23 04:13] wangzhengyi commented on #2003
Hi @erikandre , I found interesting things. when png not display, onIntermediateImageSet is not called, but onFinalImageSet is called. i set fade_duration is 0.

[2017-12-23 06:01] EMIN3M1986 commented on #1980
This is the Error Message :
com.facebook.imagepipeline.common.TooManyBitmapsException: Attempted to pin a bitmap of size 65536 bytes. The current pool count is 384, the current pool size is 45220368 bytes. The current pool max count is 384, the current pool max size is 100663296 bytes.

[2017-12-23 13:44] MidoriInu1 commented on #2000
Hi @erikandre
I uploaded a zip file containing three of the test images.
[images.zip](http://6d0dbc33a6c02.cdn.sohucs.com/foobar/images.zip)
Please download and unzip the file, then put the images into SD card, and call setImageURI(Uri.fromFile(file)).

Those images are test cases of my project, to test corner situations. I can reproduce the issue with those images in Fresco 1.7.1.

Hope this post

[2017-12-24 07:53] yihuaqi commented on #2001
@erikandre I start doubting if it is the real reason for that crash. The backend are pretty sure that they will not return an empty url list, and because of the fact that the crash only happens on Android 4.X, I don't think they are lying to me. Is it possible that somewhere else might go wrong on some OS version?

I'll gather more debug information on next release to confirm my guess. The crash d

[2017-12-25 01:30] DankeLuo commented on #2002
![image](https://user-images.githubusercontent.com/6705440/34330314-c402313a-e955-11e7-837e-84580e0adaf8.png)
Here is the screenshot. I have not used ResizeOptions, and it is my code:

`DraweeController controller = Fresco.newDraweeControllerBuilder().setControllerListener(controllerListener).setUri(uri).build();
        thumbnailDraweeView.setController(controller);`

[2017-12-25 02:40] winnerliu commented on #1975
@dmitry-voronkevich  Have any plans to fix it?

[2017-12-25 03:07] MidoriInu1 commented on #2002
Hi.@DankeLuo
I think you could use ResizeOptions to solve this problem.
It is because that OpenGLRenderer can't load the image, when the height or width of the image is too large. Normally, the max size that OpenGLRenderer can accept is 8192 * 8192 or 4096 * 4096(depending on OpenGL version.) When you uploaded a image that is too large, the default behavior of OpenGLRenderer is compression to 1/10

[2017-12-25 03:42] wb1992321 opened #2005 "Memory jitter"
## Use fresco1.7.1 to download png format picture form network:

- Memory jitter
## ViewPager+FragmentStatePagerAdapter+Okhttp3+Fresco1.5.0(Now:1.7.1)

## code
[code]
### MyBitmapMemoryCacheParamsSupplier.java
[code]
### add code in Application and  Activity
[code]

[code]

### load image
[code]

[2017-12-25 03:43] wb1992321 commented on #2005
### add Code in Fragment
[code]

[2017-12-25 05:43] AlexCJW commented on #2000
I met this issue, too. I have to roll back fresco in my project to 1.5.0.

[2017-12-25 05:58] AlexCJW commented on #2002
Hi @MidoriInu1 ,

I think it still has problem with your code, since a  long picture may be longer.

I hope fresco may process such event with multi GL textures (in hardware accelerate mode) or loading a part of the picture by region decode method.  Thus the long picture can be displayed clearly.

[2017-12-25 08:49] DankeLuo commented on #2002
@MidoriInu1 It work for me, ths.

[2017-12-25 08:49] #2002 closed

[2017-12-26 06:46] jungletian opened #2006 "the wasImmediate is always false."
https://github.com/facebook/fresco/blob/fb0aa4fd16d37d340d83a6d4455a2ec533ed0cfa/drawee/src/main/java/com/facebook/drawee/controller/AbstractDraweeController.java#L453

[2017-12-26 07:07] jungletian opened #2007 "CacheKey doesn't contains Postprocessor when submit a ImageRequest"
### Description

When submit a ImageRequest with PostProcessor, BitmapMemoryCacheProducer$produceResults() should use `getPostprocessedBitmapCacheKey` method. Otherwise the cached bitmap key is different from the `mCacheKey` of PipelineDraweeController.class

### Solution

use `getPostprocessedBitmapCacheKey` replace `getBitmapCacheKey` in BitmapMemoryCacheProducer$produceResults()

[2017-12-26 07:31] jyh149129 opened #2009 "Crash when rendering some GIF images"
gif image:
[images.zip](https://github.com/facebook/fresco/files/1586859/images.zip)

javacode:

ImageRequest request = ImageRequestBuilder
                .newBuilderWithSource(Uri.parse(url)
                .setResizeOptions(new ResizeOptions(180,120))
                .build();
        DraweeController controller = Fresco.newDraweeControllerBuilder()
                .setAutoPlayAnimations(true)/

[2017-12-26 11:50] jyh149129 commented on #2000
me too

[2017-12-27 12:48] MidoriInu1 commented on #2002
Hi @AlexCJW ,
I agree with your opinion.
I also hope fresco may process such event by region decode method. The feature of Region Decoding was mentioned in fresco 1.7.1 change logs, but the feature is not working after I updated. Not only that, the ResizeOptions is not working neither. (see this issue https://github.com/facebook/fresco/issues/2000)
I haven't got enough time to solve this problem.

[2017-12-27 14:05] oprisnik commented on #1975
Downsampling / resizing for GIFs is indeed not supported. Pull requests are welcomed :)

[2017-12-27 15:31] Monster-king opened #2011 "Load image from SD-Card is very slow after updating from 1.5.0 to 1.7.1"
For speed up the image loading from sd-card, i was done below:
in my application onCreate method:
[code]

and inside my adapter I was loading image like this:
[code]

In 1.5.0 image loading from sd-card works fast. But after updating to 1.7.1 loading image is going very slow and lagy.

[2017-12-28 10:40] weibingyi commented on #1472
Fresco.getImagePipelineFactory().getMainFileCache().trimToMinimum();
long cacheSizeFresco = Fresco.getImagePipelineFactory().getMainFileCache().getSize();

[2017-12-28 11:30] eaggle commented on #2000
me too

[2017-12-28 14:16] oprisnik commented on #2000
I've just tested with the current master version and the Showcase app correctly resizes JPEG images. However, you're right @MidoriInu1, PNG downsampling is broken. I should have a fix shortly. Thanks for reporting!

[2017-12-28 14:39] oprisnik commented on #2011
I'm pretty sure this is related to the smart resizing / downsampling bug in 1.7.1, see #2000

[2017-12-28 14:39] #2011 closed

[2017-12-28 15:02] #2000 closed

[2017-12-28 15:07] eaggle commented on #2000
webp have the same problem

[2017-12-28 15:14] oprisnik commented on #2000
The fix is now available, see e2c464efbc9214d1a00aa416d3d9cfb26c0298da. Also fixes the issue for WebP.

[2017-12-29 08:09] wb1992321 opened #2012 "FrescoBackgroundExecutor"
# version 1.7.1
# Load a large number of pictures
# ```
java.lang.InternalError
Thread starting during runtime shutdown
[code]

java.lang.Thread.nativeCreate(Native Method)
--
2 java.lang.Thread.start(Thread.java:730)
3 java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:941)
4 java.util.concurrent.ThreadPoolExecutor.processWorkerExit(ThreadPoolExecutor.java:1009)
5 java.util

[2017-12-29 10:16] ysh512 commented on #1869
I also met the same problem，but my app does not display the gif.

[2017-12-29 11:01] oprisnik commented on #2012
Please fill out the issue template. I have no idea what your issue is and how to reproduce the error.

[2018-01-01 03:10] zjupure commented on #1285
@massimocarli I have met this problem too. On some API <=17 devices, webp with alpha cannot be decoded normally. After some investigation, I found fresco use the wrong colorspace to decode webp in [webp_bitmapfactory.cpp](https://github.com/facebook/fresco/blob/master/static-webp/src/main/jni/static-webp/webp_bitmapfactory.cpp#L148) . The colorspace should be `MODE.rgbA` not `MODE.RGBA`, because i

[2018-01-02 13:02] xjy2061 opened #2014 "Why DalvikPurgeableDecoder not support region decode?"
In commit https://github.com/facebook/fresco/commit/bd249fa4792ab3102339b069b776ba010dcbbfd1 just add region decode to `ArtDecoder`, why not add to  `DalvikPurgeableDecoder`?

[2018-01-02 13:13] oprisnik commented on #2014
Region decoding is still work in progress (you can't currently use it out-of-the-box with Fresco). We might add support for it later on.

[2018-01-02 13:13] #2014 closed

[2018-01-02 13:13] PalDhv commented on #501
I am facing same issue. any workaround?

[2018-01-02 21:58] ericleong opened #2015 "Animated WebP Rendering is Broken"
### Description

The animated WebP in the showcase sample project is rendered incorrectly.

Original WebP ([Chrome-only](https://caniuse.com/#feat=webp)) | Fresco 1.7.1 on Google Pixel 1, 8.1
--- | ---
![sample animated webp](https://www.gstatic.com/webp/animated/1.webp) | ![rubix-fresco-crop-scaled](https://user-images.githubusercontent.com/1572011/34501228-f8ca231e-efdb-11e7-8fbe-2dc2f24ed020.gi

[2018-01-03 09:10] EMIN3M1986 commented on #1980
Nobody ?

[2018-01-03 10:17] oprisnik commented on #2015
Thanks for reporting @ericleong, we'll take a look

[2018-01-03 10:30] oprisnik commented on #2015
It looks like 504401041cc783c231feb7fabc870a3acea3ee30 introduced this regression. We'll fix it.

[2018-01-04 09:54] yihuaqi commented on #2001
@erikandre With more detailed debug info, I finally found out the root cause of the problem is that JSONArray has some compatibility issue when doing serialization on those devices. Nothing wrong with Fresco. Thanks for your Great SDK!

[2018-01-04 14:43] oldmansulaiman opened #2016 "Images not loading"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2018-01-04 14:49] erikandre commented on #2016
Hi @oldmansulaiman

Could you please provide a bit more details.

Thanks!

[2018-01-05 13:30] Yinzeyu opened #2017 "out of OutOfMemoryError"
E/AndroidRuntime: FATAL EXCEPTION: main
                                                                       Process: com.aimymusic.android, PID: 15590
                                                                       java.lang.OutOfMemoryError: Failed to allocate a 518412 byte allocation with 336456 free bytes and 328KB until OOM

[2018-01-05 13:40] erikandre commented on #2017
Hi @Yinzeyu

Could you please provide more details.

- What kind of images are you loading?
- How large are they?
- Are you setting any ResizeOptions when loading the image?

[2018-01-05 13:41] erikandre commented on #2016
Closing due to lack of information

[2018-01-05 13:41] #2016 closed

[2018-01-08 13:36] foghina commented on #2009
@oprisnik probably a malformed gif?

[2018-01-09 07:15] wangrunxiang commented on #1950
@oprisnik Have you already repaired this problem in the 1.7.1 version？

[2018-01-09 13:24] zjupure opened #2019 "setProgressiveRenderingEnabled(true) broken PNG image load from network"
### Description
When upgrade fresco to version 1.3.0+, if the ImageRequest setProgressiveRendingEnabled to true, the PNG image load from network will not display first. other non-jpeg images will be affected as well.

It works well with 1.2.0. As a application user, we cannot distinguish the url to load is a PNG, JPEG, WEBP or others, so we try to turn on progressiveRenderingEnable for all the req

[2018-01-10 10:10] khannasaransh commented on #960
Same here

[2018-01-11 14:49] #1285 closed

[2018-01-12 03:18] Yinzeyu commented on #2017
http://dev.storage.singworld.net/0/2/app_703d0eccbe9eba972c41efa96bb2d244.webp 的图片 每张1m  大概 100张左右，初始加载最多60张 ，设置了 ResizeOptions 180 180

  ControllerListener<ImageInfo> controllerListener = new BaseControllerListener<ImageInfo>() {
            @Override
            public void onFinalImageSet(String id, @Nullable ImageInfo imageInfo, @Nullable Animatable anim) {
                if (anim != null) {

[2018-01-12 03:21] Yinzeyu commented on #2017
现在的webp   应该在生成时候也做了压缩  没有也就几百k 的样子 ，但是同时在播放的话  在加载更多  就会出现问题

[2018-01-12 09:15] jemshit commented on #1656
Happens on android 7.1.2, ACTION_GET_CONTENT does not work ACTION_OPEN_DOCUMENT works without permission

[2018-01-15 07:37] zzx2016 opened #2020 "Binary XML file line #8"
### Description

Sometimes I will encounter the following crash.The probability of it happening is small.This is stack information.

[code]

### Additional Information

* Fresco version: 1.3.0
* Platform version: Android 7.1.1,level 25

[2018-01-15 12:39] zmroczek commented on #2006
In the current code `wasImmediate` is not always `false`. Please take a look on tests in `AbstractDraweeControllerTest` where you can find scenarios when it is `true`.

The PR you sent is breaking the tests for scenarios where `wasImmediate` should be `false`, it seems like after your change it always returns `true` which is not expected.

[2018-01-15 12:39] #2006 closed

[2018-01-15 14:33] erikandre commented on #2020
Hi @zzx2016

Have you seen any pattern in the crashes? For example, it only happens on some devices or Android versions?

Based on the stack trace I think it happens when trying to load the drawable set as the "retry image". Are you using this feature in your app? and if so, what type of drawable are you using? (xml, animation, png/jpeg)

[2018-01-15 14:38] erikandre commented on #3
Closing this as part of our cleanup of old issues.

If anyone requires this feature, please consider implementing it and submitting a pull request.

[2018-01-15 14:38] #3 closed

[2018-01-15 14:49] erikandre commented on #1909
Merging with issue #1862

[2018-01-15 14:49] #1909 closed

[2018-01-15 14:49] erikandre commented on #960
Merging with #1862

[2018-01-15 14:49] #960 closed

[2018-01-15 14:49] erikandre commented on #1937
Merging with #1862

[2018-01-15 14:49] #1937 closed

[2018-01-15 14:50] erikandre commented on #1929
Merging with #1862

[2018-01-15 14:50] #1929 closed

[2018-01-15 15:41] oprisnik commented on #1883
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-15 15:41] #1883 closed

[2018-01-15 15:42] oprisnik commented on #1936
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-15 15:42] #1936 closed

[2018-01-15 15:43] oprisnik commented on #1899
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-15 15:43] #1899 closed

[2018-01-15 16:57] oprisnik commented on #938
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-15 16:57] #938 closed

[2018-01-15 16:58] erikandre commented on #1987
Closing due to no response from the submitter.

[2018-01-15 16:58] #1987 closed

[2018-01-15 18:32] erikandre commented on #1195
Closing due to lack of response

[2018-01-15 18:32] #1195 closed

[2018-01-16 07:11] zzx2016 commented on #2020
Hi @erikandre
It only happens on VIVO's device and Android version is 7.1.1,this is a device distribution chart
![image](https://user-images.githubusercontent.com/8925848/34975891-e5991108-face-11e7-8d40-aa35f8db1401.png)

I don't use the "retry image" feature in my app.

[2018-01-16 10:27] oprisnik commented on #645
You can now use a `RetainingDataSourceSupplier` ff3bed97fb05e4d235e5e67009b1e26b7ad384b8 to control what happens.

[2018-01-16 10:27] #645 closed

[2018-01-16 10:28] oprisnik commented on #662
Yes, like @ruifcardoso mentioned you can just update the hierarchy accordingly.

[2018-01-16 10:28] #662 closed

[2018-01-16 10:30] oprisnik commented on #582
This has been fixed in f1e1f24de3d65aa06d51f7dde92651a3cb29ed76

[2018-01-16 10:30] #582 closed

[2018-01-16 10:32] oprisnik commented on #1129
I'm pretty sure that this is the behavior you'd want most of the time. Zooming in on an image and then not being able to pan around would be quite weird. If you need this behavior, you can just manually set a gesture listener that doesn't pan to the left or right side.

[2018-01-16 10:32] #1129 closed

[2018-01-16 10:38] oprisnik commented on #868
Fresco supports custom image decoders. You can just add a custom decoder and image format header checker (you don't need a DrawableFactory, just return a `CloseableStaticBitmap`) and then you're good to go.

If somebody wants to add one to the Showcase sample app for .ico, that would be great. Pull requests are welcome!

Simple color example: https://github.com/facebook/fresco/tree/master/samples/

[2018-01-16 10:38] #868 closed

[2018-01-16 10:42] oprisnik commented on #1237
This feature has been added by @franzks in d25944a2ac2f5b7e865140ab0ee77ab2c70e4c90

[2018-01-16 10:42] #1237 closed

[2018-01-16 10:44] oprisnik commented on #1513
Fixed in 358bdc3cd6d85a016237f156d06beffcb00d35b2

[2018-01-16 10:44] #1513 closed

[2018-01-16 11:36] erikandre commented on #1864
Closing issue due to lack of updates

[2018-01-16 11:36] #1864 closed

[2018-01-16 11:36] erikandre commented on #1840
Closing due to no updates from the submitter.

[2018-01-16 11:36] #1840 closed

[2018-01-16 11:36] v-b-r commented on #1860
As observed earlier, draweeView.getWidth() does return zero sometimes in recyclerView. Incase if someone is trying to set view height based on actual image aspect ratio, instead of setting width and height layout params dynamically, you can simply use <b> setAspectRatio() </b> to get it done. (Note: I'm assuming <b>width is fixed</b>)

[2018-01-16 11:38] zmroczek commented on #2007
This issue isn't valid since the logic for caching post-processed images is included in PostProcessorProducer (more info in #2008).

[2018-01-16 11:42] erikandre commented on #1480
Closing due to lack updates or other reports of the issue

[2018-01-16 11:42] #1480 closed

[2018-01-16 11:45] erikandre commented on #1407
Closing due to lack of updates.

[2018-01-16 11:45] #1407 closed

[2018-01-16 11:45] zmroczek commented on #2007
This PR changes the current logic of caching post-processed images. This issue isn't valid because in order to cache the post-processor results you need to implement the getPostprocessorCacheKey() method (see docs http://frescolib.org/docs/modifying-image.html#caching-post-processor-results) which is used in PostprocessorProducer.

For postprocessors that we decide not to require caching the image

[2018-01-16 11:45] #2007 closed

[2018-01-16 11:53] erikandre commented on #1335
Closing as this is enhancement is not prioritized to be implemented.
Still, please feel free to submit a pull request for any missing functionality.

[2018-01-16 11:53] #1335 closed

[2018-01-16 11:53] erikandre commented on #1604
Closing as this is enhancement is not prioritized to be implemented.
Still, please feel free to submit a pull request for any missing functionality.

[2018-01-16 11:53] #1604 closed

[2018-01-16 11:53] erikandre commented on #1575
Closing as this is enhancement is not prioritized to be implemented.
Still, please feel free to submit a pull request for any missing functionality.

[2018-01-16 11:53] #1575 closed

[2018-01-16 11:54] erikandre commented on #1495
Closing as this is enhancement is not prioritized to be implemented.
Still, please feel free to submit a pull request for any missing functionality.

[2018-01-16 11:54] #1495 closed

[2018-01-16 11:59] erikandre commented on #1828
Closing due to lack of updates.

[2018-01-16 11:59] #1828 closed

[2018-01-16 12:01] erikandre commented on #1320
Closing as this is enhancement is not prioritized to be implemented.
Still, please feel free to submit a pull request for any missing functionality.

[2018-01-16 12:01] #1320 closed

[2018-01-16 12:01] erikandre commented on #655
Closing as this is enhancement is not prioritized to be implemented.
Still, please feel free to submit a pull request for any missing functionality.

[2018-01-16 12:01] #655 closed

[2018-01-16 12:02] erikandre commented on #979
Closing due to lack of updates or further reports of the issue

[2018-01-16 12:02] #979 closed

[2018-01-16 12:21] oprisnik commented on #2012
Closing due to inactivity.

[2018-01-16 12:21] #2012 closed

[2018-01-16 12:29] oprisnik commented on #2009
The GIF plays correctly for me in the Showcase sample app media picker example when I auto play animations: `        mSimpleDraweeView.setController(Fresco.newDraweeControllerBuilder().setAutoPlayAnimations(true).setUri(data.getData()).build());
`

I recently fixed partial frame rendering, which might have fixed this.

[2018-01-16 12:29] #2009 closed

[2018-01-16 13:14] #1967 closed

[2018-01-16 13:15] oprisnik commented on #1944
Closing due to inactivity.

[2018-01-16 13:15] #1944 closed

[2018-01-16 13:17] oprisnik commented on #1023
Looks like fixing the scheme should resolve the problem, thanks @joeywp

[2018-01-16 13:17] #1023 closed

[2018-01-16 13:19] oprisnik commented on #921
This can easily be achieved on top of Fresco. Feel free to send a pull request!

[2018-01-16 13:19] #921 closed

[2018-01-16 13:20] oprisnik commented on #1280
Yeah, unfortunately there is a system limit. Resizing the image should help.

[2018-01-16 13:20] #1280 closed

[2018-01-16 13:22] oprisnik commented on #1877
Closing due to inactivity. If this is still an issue, please let us know.

[2018-01-16 13:22] #1877 closed

[2018-01-16 13:22] oprisnik commented on #1809
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-16 13:22] #1809 closed

[2018-01-16 13:23] #1537 closed

[2018-01-16 13:25] oprisnik commented on #1404
if somebody wants to add support for CMYK images, please submit a pull request. I'm closing this issue for now.

[2018-01-16 13:25] #1404 closed

[2018-01-16 13:27] #2015 closed

[2018-01-16 13:36] oprisnik commented on #1797
As @lambdapioneer mentioned, I guess the issue is related to your RecyclerView usage. He linked to an example which shows how to use it correctly. If you modify the visibility of the view (e.g. by calling `setVisible(...)`), it could be that the image is not updated correctly since Fresco considers that when fetching images. It could also be that your implementation does not invalidate the correct

[2018-01-16 13:36] #1797 closed

[2018-01-16 13:37] oprisnik commented on #2015
Fixed with 086fd1dfc4ee6d772ea50cba7731461120dd95c5

[2018-01-16 14:10] oprisnik commented on #1751
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-16 14:10] #1751 closed

[2018-01-16 15:38] oprisnik commented on #1850
This has been implemented. A toggle will be shown to inform you that the app needs to be restarted.

[2018-01-16 15:38] #1850 closed

[2018-01-16 15:54] erikandre commented on #1950
Closing as duplicate of #1862 which will be fixed in the next release

[2018-01-16 15:54] #1950 closed

[2018-01-16 15:55] erikandre commented on #1862
@geetgobindsingh, @UFreedom a fix for this will be included in the upcoming release (planned for the next few days).

[2018-01-16 15:55] #1862 closed

[2018-01-16 16:43] erikandre commented on #1985
@obabujiApp I've tried to reproduce the described issue in the Fresco showcase app.

For me it took about 2000ms before the image was displayed (I used one of your example images).
Most of that time was spent waiting for the download to finish.

When doing the same download on my laptop (just using wget) it takes about 500ms so 4x faster.

The times that you mention sounds really long, specially t

[2018-01-16 16:43] #1985 closed

[2018-01-16 16:58] foghina commented on #480
We don't have a use case for this so we're probably not going to work on it internally. However, I think the use case is valid and it would be a good feature to have, so we would still appreciate a PR for this, even though I'm closing the issue now.

[2018-01-16 16:58] #480 closed

[2018-01-16 17:27] oprisnik commented on #1399
Also, there is now the possibility to scale the image within the border, see d4bcaf98e23e6bdd964650350a380667066bfa93

[2018-01-16 17:27] #1399 closed

[2018-01-16 17:29] oprisnik commented on #1939
The images don't load any more, so I'm assuming this is a duplicate of #1905

[2018-01-16 17:29] #1939 closed

[2018-01-16 17:35] oprisnik commented on #1900
I think this should have been fixed with 03a14ab06a9282ce098420217a9ca27a6ae6d587

[2018-01-16 17:35] #1900 closed

[2018-01-16 18:14] erikandre commented on #941
Closing since this issue is not prioritized to be implemented in the foreseeable future.
If this is a feature that you need, please consider contributing a pull request to Fresco!

[2018-01-16 18:14] #941 closed

[2018-01-16 18:14] erikandre commented on #912
Closing since this issue is not prioritized to be implemented in the foreseeable future.
If this is a feature that you need, please consider contributing a pull request to Fresco!

[2018-01-16 18:14] #912 closed

[2018-01-16 18:15] erikandre commented on #978
Closing since this issue is not prioritized to be implemented in the foreseeable future.
If this is a feature that you need, please consider contributing a pull request to Fresco!

[2018-01-16 18:15] #978 closed

[2018-01-16 18:16] erikandre commented on #519
Closing due to lack of progress and or updates during the last 2 years.

[2018-01-16 18:16] #519 closed

[2018-01-16 18:17] erikandre commented on #661
Closing since this issue is not prioritized to be implemented in the foreseeable future.
If this is a feature that you need, please consider contributing a pull request to Fresco!

[2018-01-16 18:17] #661 closed

[2018-01-16 18:18] erikandre commented on #1188
Closing since there has been no further updates or reports of this since May 2016

[2018-01-16 18:18] #1188 closed

[2018-01-16 18:19] erikandre commented on #1065
Closing old issues

[2018-01-16 18:19] #1065 closed

[2018-01-16 18:20] erikandre commented on #434
Closing as there has been no further reports of this since 2016

[2018-01-16 18:20] #434 closed

[2018-01-16 18:21] erikandre commented on #1245
Closing due to lack or progress and/or updates since 2016

[2018-01-16 18:21] #1245 closed

[2018-01-16 18:40] erikandre commented on #852
Closing as this warning seems to be harmless and should have no impact on the build itself.

[2018-01-16 18:40] #852 closed

[2018-01-17 02:35] zzx2016 commented on #2020
@erikandre  I don't use an xml drawable as the placeholder image,here is my xml code
[code]
ic_failure and ic_placeholder are png images.The bug has only appeared in recent versions, but I have not changed the code for a long time.I think it is caused by the manufacturer to modify rom.

[2018-01-17 06:11] EMIN3M1986 commented on #1980
It seems nobody knows the issue and I obligate to use glide instead.

[2018-01-17 11:08] zetbrush commented on #1529
Hey @oprisnik, any update on this?

[2018-01-17 11:51] oprisnik commented on #4
I started working on region decoding support that can right now be used from a custom decoder. I'll add a quick sample so that this can be enabled before the full support is available in Fresco.

[2018-01-17 13:39] foghina commented on #1980
We have this issue internally to some degree as well. In our case the fix was to use `forceStaticImage` in the decode options so that we only show the first frame of the gif in the RecyclerView. You can then implement a tap-to-play feature. Showing many GIFs in a grid/list view is going to be hard with any image library.

You can also look into using videos instead.

Do you mean version `0.14`? Th

[2018-01-17 13:43] #1910 closed

[2018-01-17 14:25] scdc opened #2021 "Android Oreo - can't load some PNG - BitmapFactory: bitmap marked for reuse (3944728 bytes) can't fit new bitmap (7889456 bytes)"
Fresco can't load some PNG on OREO. We've got the followling warning:

W/BitmapFactory: bitmap marked for reuse (3944728 bytes) can't fit new bitmap (7889456 bytes)
The code to reproduce the bug:

[code]
Steps to reproduce:
- launch the sample code on android Nougat 7.1  and before, it works
- launch the sample code on android Oreo the PNG is not loaded
- Expected result same code should work on O

[2018-01-17 14:37] oprisnik commented on #2021
Thanks for reporting this issue.
Android Oreo added support for wide color gamut images and Fresco does not fully support wide color gamut yet. I've recently implemented a workaround so that they are at least rendered (albeit less efficiently), 4a64df0099776be6bb1e229a274526e1d5c54df3

The next release will include the fix. Proper support will be added at some point in the future. Pull requests ar

[2018-01-17 14:37] #2021 closed

[2018-01-17 14:42] erikandre commented on #2020
Thanks for the additional details @zzx2016 !

In the stack trace I see that you are using a subclass of SimpleDraweeView (ZZSimpleDraweeView).
Does it add any functionality to SimpleDraweeView? Just asking since in the xml you are just using SimpleDraweeView.

[2018-01-17 17:34] #1853 closed

[2018-01-17 17:49] oprisnik commented on #1940
As mentioned, this was fixed by @Kazemir  in #1966.

[2018-01-17 17:49] #1940 closed

[2018-01-17 17:51] #981 closed

[2018-01-17 17:54] oprisnik commented on #1063
I don't really understand the issue here. Could you give us a minimal example that shows how to reproduce the issue? (for example by modifying the Showcase sample app in GitHub).

I'll re-open once we have more details

[2018-01-17 17:54] #1063 closed

[2018-01-17 17:56] oprisnik commented on #1015
This should have been fixed already, take a look at the sample app here: https://github.com/facebook/fresco/tree/master/samples/zoomableapp
There's even a toggle now to select what behaviour you want: swipe to next image when zoomed or stay at current image.

[2018-01-17 17:56] #1015 closed

[2018-01-17 17:58] oprisnik commented on #1252
This feature has already been requested in #480. Pull requests are welcome :)

[2018-01-17 17:58] #1252 closed

[2018-01-17 17:59] #1205 closed

[2018-01-17 18:01] oprisnik commented on #1740
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-17 18:01] #1740 closed

[2018-01-17 18:05] oprisnik commented on #1588
You can either use the color overlay rounding mode or modify your image to have a 1px transparent border (so that transparent pixels will be repeated instead of the white ones. Unfortunately, there's no better solution yet.

[2018-01-17 18:05] #1588 closed

[2018-01-17 19:00] oprisnik commented on #1578
The following code works for me:
[code]

[2018-01-17 19:00] #1578 closed

[2018-01-17 19:10] oprisnik commented on #1905
This is quite tricky to fix though since `drawable.getAlpha()` was only added in API19. This means that a clean solution that works down to Gingerbread is hard to implement. As an alternative, you could have a special forwarding drawable that ignores calls to `setAlpha(...)`, which will preserve the original alpha value. While this is not ideal, it is a viable solution for now.

Not sure if it's b

[2018-01-17 19:21] foghina commented on #1144
There is not much that we can do here. As the exception suggests, this happens when your app shuts down while Fresco is initializing (e.g. because of a different crash, or because of user exit). There's not much we can do here, there is no way to detect this condition. Furthermore, because the app is already shutting down, there isn't much user impact here (they're not getting thrown out of the ap

[2018-01-17 19:21] #1144 closed

[2018-01-17 19:35] foghina commented on #2003
It sounds like `prefetchToDiskCache()` (or even to memory cache) is actually what you want in this case. Closing this for now, but let us know if you're still having issues.

[2018-01-17 19:35] #2003 closed

[2018-01-17 19:51] foghina commented on #1924
This is really cool! I think it would make sense to add most modules to this report, except for `fbcore` probably and all of the `-test` ones.

I'll close this issue for now since it's not a bug or feature request, but we can still respond to any questions/comments.

[2018-01-17 19:51] #1924 closed

[2018-01-18 05:25] zzx2016 commented on #2020
@erikandre ZZSimpleDraweeView only checks if fresco is initialized in the constructor.

[2018-01-18 06:01] abdrasulov opened #2023 "RetainingDataSourceSupplier ignores fadeDuration"
--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

We've used the RetainingDataSourceSupplier for replacing blurred thumb image with good quality image when a user clicks a download button. We've set the fadeDuration of DraweeHierarchy to 300 ms. The first blurred thumb shows up with a fade animation but the second image shows up

[2018-01-18 10:30] oprisnik commented on #1956
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 10:30] #1956 closed

[2018-01-18 10:31] zmroczek commented on #2023
Hi @abdrasulov

You're right, currently we don't support fading behavior between images using RetainingDataSourceSupplier but we will take a look into it, as it would be definitely great to have it.

Thanks for reporting!

[2018-01-18 10:33] oprisnik commented on #1925
I suppose the reason for this is that you should use SoLoader instead (just search for related issues).
We're making SoLoader the default with the next version (aef3790d3429833599d8b5529602e2c12f18c8aa), so it should work if you wait for the next release.

[2018-01-18 10:33] #1925 closed

[2018-01-18 10:34] oprisnik commented on #1895
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 10:34] #1895 closed

[2018-01-18 11:44] oprisnik commented on #1529
The new architecture is out and I believe we recently made a change that should allow this to work. I'll check.

[2018-01-18 11:55] oprisnik commented on #1838
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 11:55] #1838 closed

[2018-01-18 11:56] oprisnik commented on #1811
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 11:56] #1811 closed

[2018-01-18 11:57] oprisnik commented on #1547
SoLoader will be the default with the next release, see aef3790d3429833599d8b5529602e2c12f18c8aa

[2018-01-18 11:57] #1547 closed

[2018-01-18 12:01] oprisnik commented on #1344
Can you try with newer versions of Fresco @rafaelekol? The issue does not reproduce for me in our Showcase sample app, so it's hard to say what's going on. If this is still a problem, let us know!

[2018-01-18 12:01] #1344 closed

[2018-01-18 12:02] oprisnik commented on #1955
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 12:02] #1955 closed

[2018-01-18 12:06] oprisnik commented on #1646
As @kirwan mentioned, pull requests are welcome but I don't think we'll have time to implement this any time soon.

[2018-01-18 12:06] #1646 closed

[2018-01-18 12:08] oprisnik commented on #1885
Since none of the traces point to Fresco, it's hard to say what's going on without additional information, so I'm closing this for now. If this is still an issue, let us know.

[2018-01-18 12:08] #1885 closed

[2018-01-18 12:09] #1879 closed

[2018-01-18 12:09] oprisnik commented on #1812
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 12:09] #1812 closed

[2018-01-18 12:11] oprisnik commented on #1469
I'm closing this issue due to inactivity. If this is still a problem, let us know!

[2018-01-18 12:11] #1469 closed

[2018-01-18 12:35] asadullahrao opened #2024 "SimpleDraweeView shows transparent padding on Left & Right"
### Description

My SimpleDraweeView showing transparent padding on Left & Right side.

![whatsapp-image-2018-01-18-at-5 29_01](https://user-images.githubusercontent.com/429518/35098463-110db408-fc76-11e7-8db3-c2b8cfdc5ee9.png)
### Additional Information
XML:
[code]

[2018-01-18 13:24] foghina commented on #1893
Just verified as well that turning off logging in the RecyclerView sample in our Showcase app greatly improves dropped frames. Closing the issue now.

[2018-01-18 13:24] #1893 closed

[2018-01-18 13:37] zhangzhen123 opened #2025 "About SimpleDraweeSpanTextView"
I found a problem  if set enableResizing true and set fix width and height like this:
 draweeSpanStringBuilder.setImageSpan(
        getContext(),
        draweeHierarchy,
        controller,
        imagePosition,
        60,
        60,
        true,
        DraweeSpan.ALIGN_CENTER);

if the placeholder picture the width is larger(140*60) When word breaks The text on the line may not be full  th

[2018-01-18 14:59] erikandre commented on #2025
Hi @zhangzhen123! Thanks for submitting the bug report.

Using the resize option currently only works OK for some use cases (like when the resized image is smaller, but not by much).

Could you try the following workaround:

[code]

[2018-01-18 15:04] zmroczek commented on #2024
Hi @asadullahrao

This might be a bug for using the XML value, it should work when set in code using `setActualImageScaleType()` method (as in the scaling example in the showcase app).

We'll take a look on that, thanks for reporting!

[2018-01-18 15:06] erikandre commented on #1907
Closing due to lack of information to proceed with an investigation.

[2018-01-18 15:06] #1907 closed

[2018-01-18 15:11] erikandre commented on #1749
Closing as we are not planning to implement this feature. Pull requests are still welcome!

[2018-01-18 15:11] #1749 closed

[2018-01-18 15:12] erikandre commented on #1747
The upcoming release of Fresco switches from using SoLoaderShim to SoLoader.
Hopefully this will resolve this issue. If not, please file a new issue or comment here so that this one can be reopened. Thanks!

[2018-01-18 15:12] #1747 closed

[2018-01-18 15:37] erikandre commented on #1745
Closing as this is not a prioritized feature for the near future.

[2018-01-18 15:37] #1745 closed

[2018-01-18 15:41] erikandre commented on #1460
Closing as part of our cleanup of old issue.
We've not seen that this synchronization (and waiting for the lock) is causing issues but if anyone is experiencing issue with this, please file a new bug report.

[2018-01-18 15:41] #1460 closed

[2018-01-18 15:41] erikandre commented on #1396
Closing old issues.

[2018-01-18 15:41] #1396 closed

[2018-01-18 15:43] erikandre commented on #1351
Duplicating to #1980

[2018-01-18 15:43] #1351 closed

[2018-01-18 15:44] erikandre commented on #1873
Duplicating to #1980

[2018-01-18 15:44] #1873 closed

[2018-01-18 17:21] erikandre commented on #873
Closing as there has been no updates since 2016 and this is no prioritized to be implemented.
If this is a feature that you need, please consider submitting a pull request. Thanks!

[2018-01-18 17:21] #873 closed

[2018-01-18 17:22] erikandre commented on #624
Closing due to lack of updates and not enough available information to investigate further.

[2018-01-18 17:22] #624 closed

[2018-01-18 17:23] erikandre commented on #1000
Closing due to lack of updates or further reports since 2016

[2018-01-18 17:23] #1000 closed

[2018-01-18 17:28] erikandre commented on #1204
Closing as this seems to be resolved

[2018-01-18 17:28] #1204 closed

[2018-01-18 17:30] erikandre commented on #1260
Closing this due to lack of updates and no further reported instances of the issue since 2016

[2018-01-18 17:30] #1260 closed

[2018-01-18 17:31] erikandre commented on #998
Closing due to lack of updates and no further reported instances of this issue.

[2018-01-18 17:31] #998 closed

[2018-01-19 01:55] zhangzhen123 commented on #2025
Thanks very match. setDraweeSpanChangedListener is useful.

[2018-01-19 01:55] #2025 closed

[2018-01-19 08:08] abdrasulov commented on #2023
Hi @zmroczek ,

Thank you for your reply! It would be great to have this feature. You are doing a great lib.

Looking forward to updates.

[2018-01-19 10:10] asadullahrao commented on #2024
It;s also not working with your suggested change. Same behaviour:-(

[2018-01-19 11:28] asadullahrao commented on #2024
My image size is 640 x 1136, and screen size is 1080x1920. It is not scaling to fit all screen.

[2018-01-19 11:47] erikandre commented on #537
Closing due to lack of updates.

[2018-01-19 11:47] #537 closed

[2018-01-19 11:50] erikandre commented on #1067
Closing as this seems to be harmless.

[2018-01-19 11:50] #1067 closed

[2018-01-19 11:55] erikandre commented on #1656
Closing as the reported issue is not reproducible in the sample app. Might be a device specific bug.

[2018-01-19 11:55] #1656 closed

[2018-01-19 14:23] zmroczek commented on #2024
I cannot reproduce this in the showcase app, are you sure there is no padding set in the layout or parent?

[2018-01-19 14:28] asadullahrao commented on #2024
Basically it is reproducing when setting bitmap with "setImageBitmap" method. It is not happening with "setImageUri" method.

Method with issue:
 `imageView.setImageBitmap(imageBitmap);`
Method working fine:
` imageView.setImageURI(Uri.fromFile(file));`

[2018-01-19 14:39] oprisnik commented on #2024
If you look at the documentation for DraweeView, you'll find that `setImageBitmap` is deprecated: `Use this method only when using this class as an ordinary ImageView.`.
Basically, your image view will be "downgraded" to an ImageView and that's the default ImageView behavior.

[2018-01-19 14:50] asadullahrao commented on #2024
Thanks for Response.

[2018-01-19 14:50] #2024 closed

[2018-01-19 14:51] oprisnik commented on #512
I'm closing this since this should be possible with `resume()` and `pause()` as stated above.

[2018-01-19 14:51] #512 closed

[2018-01-19 14:53] oprisnik commented on #1528
It's still not clear to me what the issue is here. Please provide us with a minimal example how to reproduce the issue. I'm closing this for now but can re-open once we know what the issue is and how to reproduce it.

[2018-01-19 14:53] #1528 closed

[2018-01-19 15:02] erikandre commented on #2001
Fixed in https://github.com/facebook/fresco/commit/6449ca0162a856f32898ff82b6ce41250b038535

I've changed the behaviour to assert that the arguments are not empty at an earlier point. That should make it easier for others who might run into this.

[2018-01-19 15:02] #2001 closed

[2018-01-19 15:04] erikandre commented on #1951
Closing as there is not much we can do about this at the moment.
In the future we might implement streaming for gifs but that is not prioritized and quite complex.

[2018-01-19 15:04] #1951 closed

[2018-01-19 17:05] zmroczek commented on #1435
@bpappin could you reproduce this in the showcase app? I tested with Media Provider example to use a local image (`DraweeMediaPickerFragment.java`) but I cannot reproduce it, also tried with RelativeLayout and it is also working fine.

[2018-01-19 17:09] #1435 closed

[2018-01-19 17:25] zmroczek commented on #1945
@moehan have you tried setting the ndk in the `local.properties` file? See the instructions here: https://github.com/facebook/fresco/tree/master/samples.

[2018-01-19 17:32] oprisnik commented on #4
A really basic example for this is now available in the Showcase app, see baa629dd46797a3342a50b918ea0989b63819c87

Keep in mind that this only works for JPEGs right now and that this still needs some work if the image is resized / downsampled since the `BitmapFactory.Options#inSampleSize` value is not correctly handled.

[2018-01-19 17:33] oprisnik commented on #1896
A really basic example for this is now available in the Showcase app, see baa629d

Keep in mind that this only works for JPEGs right now and that this still needs some work if the image is resized / downsampled since the BitmapFactory.Options#inSampleSize value is not correctly handled.

I'm closing this issue for now. Please let us know if this is still an issue.

[2018-01-19 17:33] #1896 closed

[2018-01-19 19:35] oprisnik commented on #1336
WIth 1.8.0, we made SoLoader the new default, so this should be fixed.

[2018-01-19 19:35] #1336 closed

[2018-01-19 20:55] oprisnik commented on #1908
Thanks for the report, this has been fixed with e7993cc40fd3c0fc0becde2c11039e797813a813

All combinations, including focus crop should now work.

[2018-01-19 20:55] #1908 closed

[2018-01-19 20:57] oprisnik commented on #1445
I was able to repro. For me it only occurs rarely though. I'll check if I can find a different workaround to fix this.

[2018-01-20 02:45] haodadaa commented on #1862
@erikandre is this bug fix in the last version(1.8.0)?

[2018-01-20 02:59] haodadaa opened #2027 "I get a crash in KiaKat,when i load a gif"
hello,i get this exception
`Fatal Exception: java.lang.RuntimeException: Failed to pin Bitmap
       at com.facebook.imagepipeline.nativecode.Bitmaps.nativePinBitmap(SourceFile)
       at com.facebook.imagepipeline.nativecode.Bitmaps.pinBitmap(SourceFile:44)
       at com.facebook.imagepipeline.platform.DalvikPurgeableDecoder.pinBitmap(SourceFile:155)
       at com.facebook.imagepipeline.platform.

[2018-01-20 11:14] erikandre commented on #1862
Yes @haodadaa, the fix is in 1.8.0

[2018-01-21 07:50] EMIN3M1986 commented on #1980
I remove all gifs and load just png. Even in version 1.8.0 there is this problem too.
Whay are you put limitation ?

[2018-01-22 09:42] datnt1987 commented on #245
Hi, I current have the same error. I have an object list that remove or add object when check/uncheck from another list. So when I scroll the recycler view, the avatar image (using SimpleDraweeView) disappear and only appear when I touch/scroll again. Here's my logcat:

[2018-01-22 09:48] datnt1987 opened #2028 "Draw requested for a non-attached controller"
Hi, I current have the same error with #254. I have an object list that remove or add object when check/uncheck from another list. So when I scroll the recycler view, the avatar image (using SimpleDraweeView) disappear and only appear when I touch/scroll again. Here's my logcat:

In my code , I just initialized a SimpleDraweeView image named mImgAvatar and set: mImgAvatar.setImageURI(profile.avata

[2018-01-22 10:51] kichushanil opened #2029 "Https url not loading in fresco"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2018-01-22 10:52] oprisnik commented on #2029
Please fill out the template. We have no idea what's going on in your case.

[2018-01-22 10:52] #2029 closed

[2018-01-22 10:54] erikandre commented on #2027
Hi @haodadaa

This was supposed to be fixed in v1.8.0. Is it still reproducible for you after upgrading?

[2018-01-22 11:03] zmroczek commented on #2028
Hi @datnt1987

Could you please post a code snippet that you're using? What is the image that is failing to load?

[2018-01-22 12:12] foghina commented on #1980
So I think in v1.4.0 (is this what you're using?) we switched from having a separate memory cache for GIF frames to using the main one. This is good generally as it reduces the overall memory footprint (and OOMs) of Fresco by evicting other bitmaps in favor of animation frames, but it does also lead to this exception.

@oprisnik since you made this change, do you know if there is a way around this

[2018-01-22 12:24] chandru22 opened #2030 "SimpleDraweeView is reloading(blinking) when notifyDataSetChanged in RecyclerView. I loaded Animated webp in SimpleDraweeView"
We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow: http://stackoverflow.com/questions/tagged/fresco

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction

[FILL THIS OUT: How can

[2018-01-22 12:30] zmroczek commented on #2030
Hi @chandru22

Could you please fill out the template and provide more details in the issue description?

[2018-01-22 12:59] oprisnik commented on #1980
The limit is hardcoded to 384 at the moment (https://github.com/facebook/fresco/blob/master/imagepipeline/src/main/java/com/facebook/imagepipeline/memory/BitmapCounterProvider.java#L26) but we should re-evaluate that.

[2018-01-23 02:51] datnt1987 commented on #2028
Dear @zmroczek ,
I handled my list like this:
Add:
[code]
Remove:
[code]
In my adapter, I just set the avatar like that:
[code]
The renderList(mSelectedFavoriteList) is a function that I want to update Adapter (NotifidatasetChanged).

P/S:
In my screen, I have two list: a ListView to display list of Singers and a recyclerView above to display Favorite Singer when touch a singer in ListView below.

[2018-01-24 12:03] richso opened #2033 "FATAL EXCEPTION: JavaBridge java.lang.IllegalStateException"
### Description

We are trying to display the array of images gotten from a remote HTML page in a Webview, the HTML with a Javascript to return the index of image clicked and the array of image URLs; however it caused the exception:

Full Exception:
FATAL EXCEPTION: JavaBridge
                                                                    Process: net.netrogen.hkmlapp, PID: 7195

[2018-01-24 15:54] dmitry-voronkevich commented on #2033
@richso, Looks like you are trying to update ViewPager model outside of main thread.
I can't see this from your stack trace for sure, but suspect this from exception.
It is likely that you fix this by moving your code which updates model to AsyncTask.onPostExecute()

[2018-01-24 15:56] #1988 closed

[2018-01-25 04:05] richso commented on #2033
@dmitry-voronkevich
thanks but what do you mean by "update ViewPager"? if you mean the call of new ImageViewer.Builder(mContext, urls)
.setStartPosition(idx)
.show();

then, it already happens in onPostExecute of the AsyncTask

[2018-01-25 10:51] anymol opened #2034 "Download error when using self-checked https"
### Description

There is an error loading the image in case when the xml certificate is invalid, or self-signed

### Reproduction

Try load image from server with self-signed certificate

### Additional Information

Fresco version: 1.8.0
Platform version: Android N

[2018-01-25 11:20] dmitry-voronkevich commented on #2034
@anymol, please take a look at conversation here: https://github.com/facebook/fresco/issues/1592#issue-196621209

[2018-01-26 03:13] richso commented on #2033
thanks @dmitry-voronkevich, I just fixed the problem by moving the logic that update the ViewPager to run in the UI Thread like this:
[code]

[2018-01-26 03:14] richso commented on #2033
thanks @dmitry-voronkevich, I just fixed the problem by moving the logic that update the ViewPager to run in the UI Thread like this:
[code]

[2018-01-26 03:14] #2033 closed

[2018-01-26 12:02] eaggle opened #2035 "The cpu usage is high when I use webp"
=============
following is the initialize code

//内存配置
        final MemoryCacheParams bitmapCacheParams = new MemoryCacheParams(
                (MAX_MEMORY_CACHE_SIZE * ByteConstants.MB),// 内存缓存中总图片的最大大小,以字节为单位。
                512,// 内存缓存中图片的最大数量。
                MAX_MEMORY_CACHE_SIZE * ByteConstants.MB,// 内存缓存中准备清除但尚未被删除的总图片的最大大小,以字节为单位。
                Integer.MAX_VALUE,// 内存缓存中准备清除的总图片的最大数量。

[2018-01-26 12:17] eaggle commented on #2035
seams the FrescoDecodeExe is running all the time when the webp is animating.

[2018-01-27 20:43] lytefast commented on #1336
I'm still seeing this error:
[code]

[2018-01-29 03:58] robinxb commented on #1980
We are facing the same issue that reaching the 384 limitation. Is there any solution we can bypass this exception ?

[2018-01-29 05:12] Evanhlx commented on #385
不错，谢谢

[2018-01-29 17:46] #2034 closed

[2018-01-29 17:48] dmitry-voronkevich commented on #2035
Thanks you for reporting this @eaggle. Does it behave differently for gif's?

[2018-01-30 12:27] eaggle commented on #2035
@dmitry-voronkevich gif is no different, also high cpu usage.
![image](https://user-images.githubusercontent.com/11845292/35566318-eabdb8d6-05fb-11e8-8cda-1f0cb945fbc8.png)

[2018-01-30 12:28] eaggle commented on #2035
I play 9 gif in my app with the same url (http://storage.slide.news.sina.com.cn/slidenews/77_ori/2018_05/74766_812099_715784.gif).

![image](https://user-images.githubusercontent.com/11845292/35566370-1ebf7174-05fc-11e8-8949-d86f2008a31c.png)

[2018-01-30 12:32] HardikMaru opened #2036 "App crashes when use Fresco in ListView in main fragment of Navigation Drawer"
I have navigation drawer in my app with listview in main fragment. navigation drawer open and closes with jerky movement if I use Fresco to load images with SimpleDrawview.
After few time of open/close drawer, app crashes in Lenovo A6000, A7010, MotoE. MotoG5plus, OnePlus5 and my other testing devices.
So after spending few hours after this issue I've tried my luck with glide and its working fine

[2018-01-30 14:05] AlirezaGhanbarinia opened #2037 "set scaletype for thumbnails"
Hi
i need to set scaletype to thumbnails in my  app but i can't find how to do that?
please help me to do that.
thanks in advance.

[2018-01-30 17:55] dmitry-voronkevich commented on #2036
Sorry to hear about your problems, @HardikMaru. Can you provide more details?
We need:
* Code sample which reproduces this issue
* Url to image which causes problems

[2018-01-30 18:05] dmitry-voronkevich commented on #2037
Hi, @AlirezaGhanbarinia, you can use placeholderImageScaleType and pass there scale type from http://frescolib.org/docs/scaletypes.html

[2018-01-31 02:56] carl1990 commented on #502
+1

[2018-01-31 04:53] HardikMaru commented on #2036
[Code Details.zip](https://github.com/facebook/fresco/files/1680441/Code.Details.zip)

I have attached the code which is creating an issue. I have included all the things which are required to reproduce the issue, still if you need anything do let me know. OR else you can check the APK which I have shared in my issue description. and you will get an idea of it.

Best,
 Harry.

[2018-01-31 06:26] sidzi opened #2038 "Tools Attributes do not work with fresco, it becomes hard to use in xml editor"
is there a work around ?

### Additional Information

* Fresco version: '1.8.0'

[2018-01-31 08:27] AlirezaGhanbarinia commented on #2037
I have a used all of below methods together, but scale type is not set for "thumbnail".

setActualImageScaleType
setFailureImageScaleType
setPlaceholderImageScaleType
setProgressBarImageScaleType
setRetryImageScaleType

ScalingUtils.ScaleType.FIT_CENTER

[2018-01-31 11:14] erikandre commented on #2038
Hi @sidzi

WE've not planned to implement support for this. You are more than welcome to add support and submit a pull request though since it sounds like a useful feature.

[2018-01-31 12:03] huanting commented on #1913
The above error reproduces on my app.  It is uploaded by umeng sdk on user device. Below is log and device.

Fresco recommends to use SoLoader to solve the problem. I read the codes of SoLoader and can't find the fixed codes. I write a demo to reproduce this error.  The result is that SoLoader can't fix this bug.
The demo codes: https://github.com/huanting/TestDlopenedError

**Error Log:**
java.la

[2018-01-31 13:18] gajicm93 opened #2039 "java.lang.VerifyError: com/facebook/i/k at SoLoader.initImpl$230dc011(SoLoader.java:203)"
### Description

Crash is happening on Android 4.x devices, when APK is built with ProGuard enabled and 'proguard-android-optimize.txt' configuration file.

### Reproduction

1. Get an Android 4.x device
2. Build an app with following build settings ("-optimize" is the important part):
[code]
3. BOOM!

You can find all the detailed information and system dumps here: http://crashes.to/s/c450feed2e9

[2018-01-31 13:51] dmitry-voronkevich commented on #2037
Can you please specify what is thumbnail in your case? Where do you use, what do you show there?
I thought thumbnail is the same as "placeholder".

[2018-01-31 17:40] sidzi commented on #2038
okay , will try to implement it

[2018-02-01 08:10] AlirezaGhanbarinia commented on #2037
i want to load a low quality image at first and aftervthat a high quality one. i load the low quality image as a thumnail. the thumbnail has a scaletype itself but i want to change it.

[2018-02-01 10:27] lambdapioneer commented on #1913
@huanting, the log provided suggests that the `DefaultHandler` is used and not the `SoLoader` library.

The newest 1.8.0 release of Fresco comes with SoLoader as default. Can you try if this helps?

[2018-02-01 11:00] lambdapioneer commented on #2037
Hi @AlirezaGhanbarinia, can you post some sample code that reproduces the issue? I'm not sure if thumbnail refers to what we call "placeholder" (see http://frescolib.org/docs/placeholder-failure-retry.html) or if you are doing a multi-uri request (see http://frescolib.org/docs/requesting-multiple-images.html).

[2018-02-01 11:06] lambdapioneer commented on #2039
Hi @gajicm93, thank you very much for the bug report!

I can reproduce this with the showcase app by using the build settings that you've mentioned and a 4.4.2 emulator.

I'll have a look into how we can fix this (y)

[2018-02-01 11:22] lambdapioneer commented on #2039
Got it, proguard needs to know about the SoLoader `@DoNotOptimize` annotation. I'll add those rules for to the Fresco proguard file. If you want to unblock yourself in the meantime, you can add the following lines to your app's proguard file:

[code]

[2018-02-01 12:00] HardikMaru commented on #2036
Any updates??

[2018-02-01 12:35] lambdapioneer commented on #2036
Hi @HardikMaru, we would need a minimal code sample that reproduces the issue as we simply don't have the capacity to debug 3rd party apps. Also, the task of reducing it down to the most-simple Activity most likely will already show you what excatly causes the issue.

Maybe it can help you to compare your app with our showcase app which uses a drawer which works quite fine. Also the recycler view

[2018-02-01 12:35] #2036 closed

[2018-02-02 07:33] HardikMaru commented on #2036
@lambdapioneer

I am not newbee so I did tried all the possible ways and have check the demos available over repository and other sources. And when I haven't found any solutions working for me, I raise an issue over here.

But from your last comment, I can easily get an idea that you do not have time to solve the issue in Fresco Library. As I said I can't figure out the actual issue, as it don't g

[2018-02-02 10:35] toto22450 commented on #1445
Hello @oprisnik,
Did you find a different workaround ?

[2018-02-02 10:39] oprisnik commented on #1445
Not yet, this is tricky to fix since Google changed the View visibility behavior, which breaks Fresco's visibility handling (which we need for memory management). However, there are several alternatives mentioned in this thread that fix the issue (like the workaround from @MartB that manually sets the visibility).

If somebody would like to look into this, pull reuqests are always welcome! :)

[2018-02-02 12:30] BlackHC commented on #2036
make ❤️ not 😠

[2018-02-02 13:04] HardikMaru commented on #2036
@BlackHC Sorry if it hurts. I totally believe in your words.

but I have posted this issue in hope of solution, not आश्वासन. :)

[2018-02-02 16:06] amankumarjain commented on #173
I have a recycler view holder with image view type, i am using SimpleDraweView but my image height is dynamic in every holder to to manage that view, by fixing height of view cut portion of images, i want to display full image inside that holder, please help me how to achieve that.

[2018-02-02 16:47] eldk opened #2040 "Debug build from sources fails with error : use of undeclared identifier 'memset'"
### Description

In Android Studio, up to date, with ndk 16.1.4479499, and Fresco lib sources from master branch, to last commit (yesterday), build fails with :
[code]
(...) and few more errors (...)
[code]
[code]
### Reproduction

Try to build again

* Fresco version: master to https://github.com/facebook/fresco/commit/06fe3719a3a3c659438b6c25a8008945e67156a0
* Platform version: debug build for a

[2018-02-02 17:34] lambdapioneer commented on #2040
Thanks for the bug report @eldk!

Looks like both copies of `jpeg_codec` are missing `#include <string.h>`. I'd guess that previous NDK versions just did not care enough about this.

Can you check if adding those lines to the file might solve the problem? I don't have that NDK version ready at the moment - but otherwise I'll have a look on Monday :)

[2018-02-02 17:47] eldk commented on #2040
Hello,
I'm switching back to 15c now.
I will test if it should be a temporary workaround.
Thanks,
Eric

[2018-02-02 18:44] eldk opened #2041 "okhttp3 may not build after Fresco sources update"
### Description

Build from sources complains and outputs errors (even after clean project) :  missing okhttp3 after this commit (switch from compile to implementation) : https://github.com/facebook/fresco/commit/b83a71b9d27cd3d95ef59cdaa291d89b6a09c27a#diff-68af0e80447eb282f6a40fa64a9b16f7 - https://github.com/facebook/fresco/blob/06fe3719a3a3c659438b6c25a8008945e67156a0/imagepipeline-backends/im

[2018-02-02 18:49] eldk commented on #2041
Hello,

Just test again, when debug build with use of 'implementation', it always fails.

[2018-02-03 09:30] AlirezaGhanbarinia commented on #2037
I`m using multi-uri request , Here is my sample code : PipelineDraweeControllerBuilder.setLowResImageRequest

[2018-02-03 10:01] HenryChao24 opened #2045 "Render local image failed if the image path contains '#'"
### Description

Render local image failed if the image path contains '#'

### Reproduction

`  String localThumb = "/storage/emulated/0/abc#abc/test.jpg";
    simpleImageDrawee.setImageURI(ResourceUtil.getFileURI(localThumb));`

[2018-02-04 17:04] eldk opened #2046 "animated-base-test should make build fails when multidex enable"
### Description

When multidex is needed and animated-base-test is used as a dependency in one app, build fails with :  " com.android.build.api.transform.TransformException: com.android.dex.DexException: Multiple dex files define Lorg/xmlpull/v1/XmlPullParserException"

### Reproduction
[code]
then try to build

### Solution
in your app build.gradle
[code]
### Additional Information

* Fresco vers